	
	<main class="home-tab">
	<div class="box1drive font-12">
	<div class="row">
		<div class="col-md-4 col-sm-4">
		 <table  border="1" class="table table-striped custab tabspab">
		 <thead >
		 <tr  bgcolor="#000">
		 <th >Company</th><th >Default</th>
		 </tr></thead>
		 <tbody >
		 <tr>
		 <td>SSR Executive Travel Ltd</td>
		 <td>
			 <div class="form-group">
				 <label   class="newbox">
					 <input   id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
					 <span   class="checkmark"></span>
				 </label>
			 </div>
		 </td>
		 </tr>
		 <tr >
		 <td >SSR Executive Travel Ltd</td>
		 <td>
			 <div class="form-group">
				 <label   class="newbox">
					 <input   id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
					 <span   class="checkmark"></span>
				 </label>
			 </div>
		 </td>
		 </tr>
		 
		 <tr >
		 <td >SSR Executive Travel Ltd</td>
		 <td>
			 <div class="form-group">
				 <label   class="newbox">
					 <input   id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
					 <span   class="checkmark"></span>
				 </label>
			 </div>
		 </td>
		 </tr>
		 
		 <tr >
		 <td >SSR Executive Travel Ltd</td>
		 <td>
			 <div class="form-group">
				 <label   class="newbox">
					 <input   id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
					 <span   class="checkmark"></span>
				 </label>
			 </div>
		 </td>
		 </tr>

		 
		 <tr >
		 <td >SSR Executive Travel Ltd</td>
		 <td>
			 <div class="form-group">
				 <label   class="newbox">
					 <input   id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
					 <span   class="checkmark"></span>
				 </label>
			 </div>
		 </td>
		 </tr>


		 </tbody>
		 </table>
		</div>
		<div class="col-md-2 col-sm-3 btnright">

	  <ng-template #content let-c="close" let-d="dismiss">
				  <div class="modal-header">
				    <h4 class="modal-title">Company Details: SSR Executive Travel Ltd.</h4>
				    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
				      <span aria-hidden="true">&times;</span>
				    </button>
				  </div>
				  <div class="modal-body">
	<div class="box1drive font-12 frmgrp">
	<div class="row">
		<div class="col-md-8 col-sm-8">
			<form action="">
			<div  class="form-group">
			<div class="row">
			<div class="col-md-4 col-sm-6"><label  class="pull-left">VAT Registered:</label></div>
			<div class="col-md-4 col-sm-4">
				 <label   class="newbox">
					 <input   id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
					 <span   class="checkmark"></span>
				 </label>
			</div>
			</div>
			
			</div>
			
			<div  class="form-group">
			<div class="row">
			<div class="col-md-4 col-sm-6"><label  class="pull-left">VAT registration no:</label></div>
			<div class="col-md-4 col-sm-4"><input  class="form-control " type="text"></div>
			</div>
			</div>			
			

			<div  class="form-group">
			<div class="row">
			<div class="col-md-4 col-sm-6"><label  class="pull-left">Telephone:</label></div>
			<div class="col-md-4 col-sm-4"><input  class="form-control " type="text"></div>
			</div>
			</div>			

			<div  class="form-group">
			<div class="row">
			<div class="col-md-4 col-sm-6"><label  class="pull-left">Emial:</label></div>
			<div class="col-md-4 col-sm-4"><input  class="form-control " type="emial"></div>
			</div>
			</div>			
			

			<div  class="form-group">
			<div class="row">
			<div class="col-md-4 col-sm-6"><label  class="pull-left">Website:</label></div>
			<div class="col-md-4 col-sm-4"><input  class="form-control " type="text"></div>
			</div>
			</div>			

			<div  class="form-group">
			<div class="row">
			<div class="col-md-4 col-sm-6"><label  class="pull-left">SMS originator:</label></div>
			<div class="col-md-4 col-sm-4"><input  class="form-control " type="text"></div>
			</div>
			</div>			

			<div  class="form-group">
			<div class="row">
			<div class="col-md-4 col-sm-6"><label  class="pull-left">License number:</label></div>
			<div class="col-md-4 col-sm-4"><input  class="form-control " type="text"></div>
			</div>
			</div>			

			<div  class="form-group">
			<div class="row">
			<div class="col-md-4 col-sm-6"><label  class="pull-left">Transfer reference:</label></div>
			<div class="col-md-4 col-sm-4"><input  class="form-control " type="text"></div>
			</div>
			</div>			
			
			
			<button  class="btn btn-success m-r-10" type="submit"> OK</button>
			
			</form>
		</div>
		<div class="col-md-4 col-sm-4 btnright setupcon">
		<fieldset>	
		<legend>Logo:</legend>	
		<div class="form-group">
		<button class="btn btn-success m-r-10" type="submit"><i class="mdi mdi-plus black" data-name="mdi-flag-variant"></i> Add</button>
		<button class="btn btn-success m-r-10" type="submit"><i class="mdi mdi-delete black" data-name="mdi-flag-variant"></i> Delete</button>
		
		</div>
		<img src="../../../assets/images/logo.jpg" alt="logo"/>
		</fieldset>
		</div>
		
		
		

			</div>	
		
		</div>	


<div class="col-md-12 tabdiv">
<input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1" class="btnlab">Invoice Address</label>
    
  <input id="tab2" type="radio" name="tabs">
  <label for="tab2"  class="btnlab">Base Address</label>
    
  <input id="tab3" type="radio" name="tabs">
  <label for="tab3" class="btnlab">Driver App</label>
    
  <input id="tab4" type="radio" name="tabs">
  <label for="tab4"  class="btnlab">Web Booking Form/Portal</label>
    
  <input id="tab5" type="radio" name="tabs">
  <label for="tab5"  class="btnlab">Emails</label>
    
  
  
  
  <section id="content1" class="contab bordersection">
  <form class="detailsfrm" action="">
  <div class="box1drive font-12 frmgrp">

			<div  class="form-group">
			<div class="row">
			<div class="col-md-2 col-sm-3"><label  class="pull-left">Name</label></div>
			<div class="col-md-4 col-sm-4"><input  class="form-control " type="test"></div>
			</div>
			</div>

			<div  class="form-group">
			<div class="row">
			<div class="col-md-2 col-sm-3"><label  class="pull-left">Address</label></div>
			<div class="col-md-4 col-sm-4 marintput">
			<input  class="form-control " type="test">
			<input  class="form-control " type="test">
			<input  class="form-control " type="test"></div>
			</div>
			</div>

			<div  class="form-group">
			<div class="row">
			<div class="col-md-2 col-sm-3"><label  class="pull-left">Town</label></div>
			<div class="col-md-4 col-sm-4"><input  class="form-control " type="text"></div>
			</div>
			</div>
 
			<div  class="form-group">
			<div class="row">
			<div class="col-md-2 col-sm-3"><label  class="pull-left">County</label></div>
			<div class="col-md-4 col-sm-4"><input  class="form-control " type="text"></div>
			</div>
			</div>
  
			<div  class="form-group">
			<div class="row">
			<div class="col-md-2 col-sm-3"><label  class="pull-left">Postcode</label></div>
			<div class="col-md-4 col-sm-4"><input  class="form-control taxrate" type="text"> <button class="btn btn-success m-r-10" type="submit"> Lookup</button></div>
			</div>
			</div>
  
			<div  class="form-group">
			<div class="row">
			<div class="col-md-2 col-sm-3"><label  class="pull-left">Country</label></div>
			<div class="col-md-4 col-sm-4"><input  class="form-control " type="text"></div>
			</div>
			</div>
  
			
			<div  class="form-group">
			<div class="row">
			<div class="col-md-12 col-sm-12"><button class="btn btn-success m-r-10" type="submit"> Submit</button>
			</div>
			</div>
			</div>	 
 
  </div>
  </form>
  
  
     
  </section>


  <section id="content2" class="contab bordersection">
  <form class="detailsfrm" action="">
  <div class="box1drive font-12 frmgrp">

			<div  class="form-group">
			<div class="row">
			<div class="col-md-2 col-sm-3"><label  class="pull-left">Address</label></div>
			<div class="col-md-4 col-sm-4 marintput">
			<input  class="form-control " type="test">
			<input  class="form-control " type="test">
			<input  class="form-control " type="test"></div>
			</div>
			</div>

			<div  class="form-group">
			<div class="row">
			<div class="col-md-2 col-sm-3"><label  class="pull-left">Town</label></div>
			<div class="col-md-4 col-sm-4"><input  class="form-control " type="text"></div>
			</div>
			</div>
 
			<div  class="form-group">
			<div class="row">
			<div class="col-md-2 col-sm-3"><label  class="pull-left">County</label></div>
			<div class="col-md-4 col-sm-4"><input  class="form-control " type="text"></div>
			</div>
			</div>
  
			<div  class="form-group">
			<div class="row">
			<div class="col-md-2 col-sm-3"><label  class="pull-left">Postcode</label></div>
			<div class="col-md-4 col-sm-4"><input  class="form-control taxrate" type="text">
			 <button class="btn btn-success m-r-10" type="submit"> Lookup</button>
			</div>
			</div>
			</div>
  
			<div  class="form-group">
			<div class="row">
			<div class="col-md-2 col-sm-3"><label  class="pull-left">Country</label></div>
			<div class="col-md-4 col-sm-4"><input  class="form-control " type="text"></div>
			</div>
			</div> 
			
			<div  class="form-group">
			<div class="row">
			<div class="col-md-12 col-sm-12">When looking up tariffs to price bookings use the following include base change value when on specific include base change value is sey on a booking.</div>
			</div>
			</div>
  
			<div  class="form-group">
			<div class="row">
			<div class="col-md-2 col-sm-3"><label  class="pull-left">Journey Left:</label></div>
			<div class="col-md-2 col-sm-4">
			<select  class="form-control" id="photgraph" name="photgraph">
			<option  value="Dummy1" ng-reflect-value="Dummy1">Dummy1</option>
			</select>
			</div>
			</div>
			</div> 
  
			<div  class="form-group">
			<div class="row">
			<div class="col-md-2 col-sm-3"><label  class="pull-left">Point to point tariff:</label></div>
			<div class="col-md-2 col-sm-4">
			<select  class="form-control" id="photgraph" name="photgraph">
			<option  value="Dummy1" ng-reflect-value="Dummy1">Dummy1</option>
			</select>
			</div>
			</div>
			</div>  
  
			<div  class="form-group">
			<div class="row">
			<div class="col-md-2 col-sm-3"><label  class="pull-left">Mileage tariff:</label></div>
			<div class="col-md-2 col-sm-4">
			<select  class="form-control" id="photgraph" name="photgraph">
			<option  value="Dummy1" ng-reflect-value="Dummy1">Dummy1</option>
			</select>
			</div>
			</div>
			</div> 

			
			<div  class="form-group">
			<div class="row">
			<div class="col-md-12 col-sm-12">Note: If an include base type is selected for a booking then this will apply to journey. Point to point and milage tariffs.</div>
			</div>
			</div>
			
			<div  class="form-group">
			<div class="row">
			<div class="col-md-12 col-sm-12"><button class="btn btn-success m-r-10" type="submit"> Submit</button>
			</div>
			</div>
			</div>			
			
 
  </div>
  </form>
  
  
     
  </section>  
  
  
  <section id="content3" class="contab bordersection">
  <form class="detailsfrm" action="">
  <div class="box1drive font-12 frmgrp">
  
			<div  class="form-group">
			<div class="row">
			<div class="col-md-12 col-sm-12">
				<label   class="newbox">
						 <input   id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
						 <span   class="checkmark"></span> <label>Registered  </label>
				</label>
			</div>

			</div>
			</div>
  
			<div  class="form-group">
			<div class="row">
			<div class="col-md-12 col-sm-12">
				<label   class="newbox">
						 <input   id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
						 <span   class="checkmark"></span> <label>Show amount for non cash & credit/debit card bookings</label>
				</label>
			</div>

			</div>
			</div>

  
			<div  class="form-group">
			<div class="row">
			<div class="col-md-12 col-sm-12">
				<label   class="newbox">
						 <input   id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
						 <span   class="checkmark"></span> <label>Show passenger email (if available)</label>
				</label>
			</div>

			</div>
			</div>
  
			<div  class="form-group">
			<div class="row">
			<div class="col-md-12 col-sm-12">
				<label   class="newbox">
						 <input   id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
						 <span   class="checkmark"></span> <label>All credit debit card payments will be taken outside the app </label>
				</label>
			</div>

			</div>
			</div>

			
			<div  class="form-group">
			<div class="row">
			<div class="col-md-12 col-sm-12"><button class="btn btn-success m-r-10" type="submit">Register</button>
			</div>
			</div>
			</div>			
			
 
  </div>
  </form>
  </section>  
  
<section id="content4" class="contab bordersection">
<form class="detailsfrm" action="">
<div class="row">
 <div class="col-md-12 col-sm-12">
<div class="box1drive font-12 frmgrp">

  <input id="tab6" checked type="radio" name="tabs">
  <label for="tab6"  class="btnlab">Web Booking Form/Portal</label>
    
  <input id="tab7" type="radio" name="tabs">
  <label for="tab7"  class="btnlab">Payment Types</label>
    
  <input id="tab8" type="radio" name="tabs">
  <label for="tab8"  class="btnlab">Booking Form CSS</label>
    
  <input id="tab9" type="radio" name="tabs">
  <label for="tab9"  class="btnlab">Booking form Submission</label>
  
<div id="content6" class="hidediv bordersection">
  <div class="row">
    <div class="col-md-8 col-sm-8 col-xs-12">
			<div  class="form-group">
			<div class="row">
			<div class="col-md-3 col-sm-3"><label  class="pull-left">Portal admin username:</label></div>
			<div class="col-md-4 col-sm-4"><input  class="form-control " type="test"></div>
			</div>
			</div>

			<div  class="form-group">
			<div class="row">
			<div class="col-md-3 col-sm-3"><label  class="pull-left">Portal admin password:</label></div>
			<div class="col-md-4 col-sm-4"><input  class="form-control " type="test"></div>
			</div>
			</div>
  
			<div  class="form-group">
			<div class="row">
			<div class="col-md-3 col-sm-3"><label  class="pull-left">Prevent changes within:</label></div>
			<div class="col-md-4 col-sm-4"><input  class="form-control taxrate" type="text"> hour(s) of collection time.</div>
			</div>
			</div>

			<div  class="form-group">
			<div class="row">
			<div class="col-md-3 col-sm-3"><label  class="pull-left">Notification email address:</label></div>
			<div class="col-md-4 col-sm-4"><input  class="form-control " type="test"></div>
			</div>
			</div>
  
			<div  class="form-group">
			<div class="row">
			<div class="col-md-3 col-sm-3"><label  class="pull-left">Restrict addresses to country</label></div>
			<div class="col-md-4 col-sm-4 marintput">
				<select  class="form-control" id="photgraph" name="photgraph">
					<option value="Dummy1">Dummy1</option>
				</select>
			</div>
			</div>
			</div>

			<div  class="form-group">
			<div class="row">
			<div class="col-md-12 col-sm-12 checkboxrow1">
				<label   class="newbox">
						 <input   id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
						 <span   class="checkmark"></span> <label>Enable price look-up P.O.A. if pickup is more than: </label>
				</label> <input  class="form-control taxrate" type="text"> Miles from the address.
			</div>
			</div>
			</div>

			<div  class="form-group">
			<div class="row">
			<div class="col-md-12 col-sm-12 checkboxrow1">
				<label   class="newbox">
						 <input   id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
						 <span   class="checkmark"></span> <label>Enable postcode/address look-up on the web portal</label>
				</label>
			</div>
			</div>
			</div>

			<div  class="form-group">
			<div class="row">
			<div class="col-md-12 col-sm-12 checkboxrow1">
				<label   class="newbox">
						 <input   id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
						 <span   class="checkmark"></span> <label>Enable card payments on the web booking form</label>
				</label>
			</div>
			</div>
			</div>

			<div  class="form-group">
			<div class="row">
			<div class="col-md-12 col-sm-12 checkboxrow1">
				<label   class="newbox">
						 <input   id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
						 <span   class="checkmark"></span> <label>Enable customers to change Pending bookings on the web portal</label>
				</label>
			</div>
			</div>
			</div>
			

			<div  class="form-group">
			<div class="row">
			<div class="col-md-12 col-sm-12 checkboxrow1">
				<label   class="newbox">
						 <input   id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
						 <span   class="checkmark"></span> <label>Enable customers to change Dispatched booking on the web portal</label>
				</label>
			</div>
			</div>
			</div>

			<div  class="form-group">
			<div class="row">
			<div class="col-md-12 col-sm-12 setupcon">
				<fieldset>
					<legend >Web Booking Form Address:</legend>
					<div class="row">
					<div  class="form-group">
						<div class="col-md-12 col-sm-12">
				<select  class="form-control" id="photgraph" name="photgraph">
					<option value="Dummy1">Dummy1</option>
				</select>
						</div>
					</div>
						
							<div class="col-md-8 col-sm-7"><input  class="form-control " type="test"></div>
							<div class="col-md-2 col-sm-3">
								<button  class="btn btn-success m-r-10" type="submit">
									<i class="mdi mdi-google-maps black" data-name="mdi-flag-variant"></i>
								</button>
							</div>
						
					</div>
				</fieldset>
			</div>
			</div>
			</div>
			

			<div  class="form-group">
			<div class="row">
			<div class="col-md-12 col-sm-12 setupcon">
				<fieldset>
					<legend >Web Portal Address:</legend>
					<div class="row">
						
							<div class="col-md-9 col-sm-8"><input  class="form-control " type="test"></div>
							<div class="col-md-2 col-sm-3">
								<button  class="btn btn-success m-r-10" type="submit">
									<i class="mdi mdi-google-maps black" data-name="mdi-flag-variant"></i>
								</button>
							</div>
						
					</div>
				</fieldset>
			</div>
			</div>
			</div>	


				<div  class="form-group">
					<div class="row">
						<div class="col-md-12 col-sm-12">
<button class="btn btn-success m-r-10" type="submit"> Submit</button>
						</div>
					</div>
				</div>			
	
  </div>
  </div>
  <!-- row end -->

  </div>
  
  
  
<div id="content7" class="hidediv bordersection">
  <div class="row">
		<div class="col-md-4 col-sm-4">
		 <table  border="1" class="table table-striped custab tabspab">
		 <thead >
		 <tr bgcolor="#000">
		 <th>
			<label class="newbox">
			<input id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
			<span class="checkmark"></span>
			</label>		 
		 </th>
		 <th>Payment Type</th>
		 </tr></thead>
		 <tbody >
		 
		 <tr>
		 <td>
			 <div class="form-group">
				 <label   class="newbox">
					 <input   id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
					 <span   class="checkmark"></span>
				 </label>
			 </div>
		 </td>
		 <td>Cash</td>
		 </tr>
		 
		 <tr>
		 <td>
			 <div class="form-group">
				 <label   class="newbox">
					 <input   id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
					 <span   class="checkmark"></span>
				 </label>
			 </div>
		 </td>
		 <td>Credit Card</td>
		 </tr>

		 
		 <tr>
		 <td>
			 <div class="form-group">
				 <label   class="newbox">
					 <input   id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
					 <span   class="checkmark"></span>
				 </label>
			 </div>
		 </td>
		 <td>Account</td>
		 </tr>

		 
		 <tr>
		 <td>
			 <div class="form-group">
				 <label   class="newbox">
					 <input   id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
					 <span   class="checkmark"></span>
				 </label>
			 </div>
		 </td>
		 <td>Debit Card</td>
		 </tr>

		 
		 <tr>
		 <td>
			 <div class="form-group">
				 <label   class="newbox">
					 <input   id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
					 <span   class="checkmark"></span>
				 </label>
			 </div>
		 </td>
		 <td>Cheque</td>
		 </tr>

		 
		 <tr>
		 <td>
			 <div class="form-group">
				 <label   class="newbox">
					 <input   id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
					 <span   class="checkmark"></span>
				 </label>
			 </div>
		 </td>
		 <td>Petty Cash</td>
		 </tr>

		 
		 <tr>
		 <td>
			 <div class="form-group">
				 <label   class="newbox">
					 <input   id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
					 <span   class="checkmark"></span>
				 </label>
			 </div>
		 </td>
		 <td>Invoice</td>
		 </tr>

		 
		 <tr>
		 <td>
			 <div class="form-group">
				 <label   class="newbox">
					 <input   id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
					 <span   class="checkmark"></span>
				 </label>
			 </div>
		 </td>
		 <td>Office Eroor</td>
		 </tr>

		 
		 <tr>
		 <td>
			 <div class="form-group">
				 <label   class="newbox">
					 <input   id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
					 <span   class="checkmark"></span>
				 </label>
			 </div>
		 </td>
		 <td>Bank Transfer</td>
		 </tr>

		 
		 <tr>
		 <td>
			 <div class="form-group">
				 <label   class="newbox">
					 <input   id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
					 <span   class="checkmark"></span>
				 </label>
			 </div>
		 </td>
		 <td>Complimentary</td>
		 </tr>

		 
		 <tr>
		 <td>
			 <div class="form-group">
				 <label   class="newbox">
					 <input   id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
					 <span   class="checkmark"></span>
				 </label>
			 </div>
		 </td>
		 <td>PayPal</td>
		 </tr>

		 
		 <tr>
		 <td>
			 <div class="form-group">
				 <label   class="newbox">
					 <input   id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
					 <span   class="checkmark"></span>
				 </label>
			 </div>
		 </td>
		 <td>Written Off</td>
		 </tr>

		 



		 </tbody>
		 </table>
		</div>
		</div>
			<div class="row">
			<div class="col-md-12 col-sm-12">
				<div  class="form-group">
					<div class="row">
						<div class="col-md-12 col-sm-12">
<button class="btn btn-success m-r-10" type="submit"> Submit</button>
						</div>
					</div>
				</div>	
			</div>	
			</div>	
			

  <!-- row end -->

  </div>
  
 <div id="content8" class="hidediv bordersection">
  <div class="row">
    <div class="col-md-12">
	<div class="bookcss">Booking css here</div>
      
  </div>
  </div>
  <!-- row end -->

  </div>
   
<div id="content9" class="hidediv bordersection">
  <div class="row">
    <div class="col-md-12">

			<div  class="form-group">
			<div class="row">
			<div class="col-md-1 col-sm-2"><label  class="pull-left">Re-Direct  to:</label></div>
			<div class="col-md-5 col-sm-6"><input  class="form-control " type="test"></div>
			</div>
			</div> 
			<div  class="form-group">
			<div class="row">
			<div class="col-md-12 col-sm-12 setupcon">
				<fieldset>
					<legend >Web Portal Address:</legend>
					<div class="row">
						
							<div class="col-md-12 col-sm-12">
							<textarea  class="form-control textareasubmission"> </textarea>
							
							</div>
							
						
					</div>
				</fieldset>
			</div>  
			</div>
			</div>
			
			<div  class="form-group">
			<div class="row">
			<div class="col-md-12 col-sm-12"><button class="btn btn-success m-r-10" type="submit"> Submit</button>
			</div>
			</div>
			</div>				
	</div>
  </div>
  <!-- row end -->

</div>
  

</div>
</div>
</div>
</form>
</section>
  
<section id="content5" class="contab bordersection">
<form class="detailsfrm" action="">
<div class="box1drive font-12 frmgrp">
 
			<div  class="form-group">
			<div class="row">
			<div class="col-md-2 col-sm-3"><label  class="pull-left">Email address:</label></div>
			<div class="col-md-6 col-sm-6"><input  class="form-control " type="text"></div>
			</div>
			</div>
			
 
			<div  class="form-group">
			<div class="row">
			<div class="col-md-2 col-sm-3"><label  class="pull-left">Outgoing mail server:</label></div>
			<div class="col-md-3 col-sm-3"><input  class="form-control " type="text"></div> 
			<div class="col-md-3 col-sm-3"><label  class="pull-left">Port</label> <input  class="form-control taxrate" type="text"></div>			</div>
			</div>
 
			<div  class="form-group">
			<div class="row">
			<div class="col-md-2 col-sm-3"><label  class="pull-left">Username:</label></div>
			<div class="col-md-3 col-sm-3"><input  class="form-control " type="text"></div>
			</div>
			</div>
 
			<div  class="form-group">
			<div class="row">
			<div class="col-md-2 col-sm-3"><label  class="pull-left">Password:</label></div>
			<div class="col-md-3 col-sm-3"><input  class="form-control " type="text"></div>
			</div>
			</div>
 
			<div  class="form-group">
			<div class="row">
			<div class="col-md-2 col-sm-3"><label  class="pull-left">RequireS TLS:</label></div>
			<div class="col-md-3 col-sm-3">
				<label   class="newbox">
						 <input   id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
						 <span   class="checkmark"></span>
				</label>
			</div>
			</div>
			</div>
 
			<div  class="form-group">
			<div class="row">
			<div class="col-md-2 col-sm-3"><label  class="pull-left">RequireS SSL:</label></div>
			<div class="col-md-3 col-sm-3">
				<label   class="newbox">
						 <input   id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
						 <span   class="checkmark"></span>
				</label>
			</div>			
			</div>
			</div>
 
			<div  class="form-group">
			<div class="row">
			<div class="col-md-2 col-sm-3"><label  class="pull-left">Requires authtentication:</label></div>
			<div class="col-md-3 col-sm-3">
				<label   class="newbox">
						 <input   id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
						 <span   class="checkmark"></span>
				</label>
			</div>			
			</div>
			</div>
 
			<div  class="form-group">
			<div class="row">
			<div class="col-md-2 col-sm-3"><label  class="pull-left">BBC all emails to:</label></div>
			<div class="col-md-3 col-sm-3"><input  class="form-control " type="text"></div>
			</div>
			</div>
 
			<div  class="form-group">
			<div class="row">
			<div class="col-md-2 col-sm-3"><label  class="pull-left">BBC Outlook emails:</label></div>
			<div class="col-md-3 col-sm-3">
				<label   class="newbox">
						 <input   id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
						 <span   class="checkmark"></span>
				</label>
			</div>
			</div>
			</div>
			
			
			
			
			
			<div  class="form-group">
			<div class="row">
			<div class="col-md-12 col-sm-12"><button class="btn btn-success m-r-10" type="submit"> Submit</button>
			</div>
			</div>
			</div>				
			
			
</div>
</form>
</section>
		</div>









		</div>
				  <div class="modal-footer">
				    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
				  </div>
				</ng-template>
<button class="btn btn-success m-r-10" (click)="open2(content)">Details</button><br>
		

	
	  <ng-template #content1 let-c="close" let-d="dismiss">
				  <div class="modal-header">
				    <h4 class="modal-title">Invoice Parameters: SSR Executive Travel Ltd</h4>
				    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
				      <span aria-hidden="true">&times;</span>
				    </button>
				  </div>
				  <div class="modal-body">
	


<div class="col-md-12 tabdiv mt-0">
  <input id="tab10" type="radio" name="tabs1" checked>
  <label for="tab10" class="btnlab">Format</label>
    
  <input id="tab11" type="radio" name="tabs1">
  <label for="tab11"  class="btnlab">Admin Fees</label>
    
  <input id="tab12" type="radio" name="tabs1">
  <label for="tab12" class="btnlab">Discount</label>
    
  <input id="tab13" type="radio" name="tabs1">
  <label for="tab13"  class="btnlab">Graluity</label>
    
  <input id="tab14" type="radio" name="tabs1">
  <label for="tab14"  class="btnlab">Credit Card Fees</label>
    
  <input id="tab15" type="radio" name="tabs1">
  <label for="tab15"  class="btnlab">Terms & Conditions</label>
    
  <input id="tab16" type="radio" name="tabs1">
  <label for="tab16"  class="btnlab">Invoice Statement</label>
    
  <input id="tab17" type="radio" name="tabs1">
  <label for="tab17"  class="btnlab">Email Body</label>
  
  
  <section id="content10" class="contab bordersection">
  <form class="detailsfrm" action="">
  <div class="box1drive font-12 frmgrp">

			<div  class="form-group">
			<div class="row">
			<div class="col-md-2 col-sm-3"><label  class="pull-left">Invoice headling:</label></div>
			<div class="col-md-4 col-sm-4">
			<select  class="form-control taxrate" id="photgraph" name="photgraph">
			<option value="Dummy1">Dummy1</option>
			</select>
			</div>
			</div>
			</div>

			<div  class="form-group">
			<div class="row">
			<div class="col-md-2 col-sm-3"><label  class="pull-left">Invoice top margin:</label></div>
			<div class="col-md-10 col-sm-9"><input  class="form-control taxrate2" placeholder="1" type="number"> Centimeteres</div>
			</div>
			</div>
			
			<div  class="form-group">
			<div class="row">
			<div class="col-md-2 col-sm-3"><label  class="pull-left">Invoice payment terms:</label></div>
			<div class="col-md-10 col-sm-9"><input  class="form-control taxrate1"  type="text">Due date <input  class="form-control taxrate1"  type="text">days after invoice date</div>
			</div>
			</div>

			<div  class="form-group">
			<div class="row">
			<div class="col-md-2 col-sm-3"><label  class="pull-left">Additional invoice line:</label></div>
			<div class="col-md-4 col-sm-4 marintput">
			<input  class="form-control " type="test">
			<input  class="form-control " type="test">
			<input  class="form-control " type="test">
			<input  class="form-control " type="test">
			</div>
			</div>
			</div>

			<div  class="form-group">
			<div class="row">
			<div class="col-md-2 col-sm-3"><label  class="pull-left">Alignment:</label></div>
			<div class="col-md-4 col-sm-4">
			<select  class="form-control taxrate" id="photgraph" name="photgraph">
			<option value="Dummy1"> </option>
			<option value="Dummy1">Dummy1</option>
			</select>
			</div>
			</div>
			</div>

			<div  class="form-group">
			<div class="row">
			<div class="col-md-2 col-sm-3"><label  class="pull-left">Invoice footer line:</label></div>
			<div class="col-md-4 col-sm-4 marintput">
			<input  class="form-control " type="test">
			<input  class="form-control " type="test">
			<input  class="form-control " type="test">
			<input  class="form-control " type="test">
			</div>
			</div>
			</div>

			<div  class="form-group">
			<div class="row">
			<div class="col-md-2 col-sm-3"><label  class="pull-left">Alignment:</label></div>
			<div class="col-md-4 col-sm-4">
			<select  class="form-control taxrate" id="photgraph" name="photgraph">
			<option value="Dummy1"> </option>
			<option value="Dummy1">Dummy1</option>
			</select>
			</div>
			</div>
			</div>			

			<div  class="form-group">
			<div class="row">
			<div class="col-md-2 col-sm-3"><label  class="pull-left">Payslip footer line:</label></div>
			<div class="col-md-4 col-sm-4 marintput">
			<input  class="form-control " type="test">
			<input  class="form-control " type="test">
			<input  class="form-control " type="test">
			<input  class="form-control " type="test">
			</div>
			</div>
			</div>

			<div  class="form-group">
			<div class="row">
			<div class="col-md-2 col-sm-3"><label  class="pull-left">Alignment:</label></div>
			<div class="col-md-4 col-sm-4">
			<select  class="form-control taxrate" id="photgraph" name="photgraph">
			<option value="Dummy1"> </option>
			<option value="Dummy1">Dummy1</option>
			</select>
			</div>
			</div>
			</div>			

			<div  class="form-group">
			<div class="row">
			<div class="col-md-8 col-sm-8">
			
			<div  class="form-group">
			<div class="row">
			<div class="col-md-3 col-sm-3"><label  class="pull-left">Invoice report:</label></div>
			<div class="col-md-6 col-sm-6">
			<select  class="form-control " id="photgraph" name="photgraph">
			<option value="Dummy1"> </option>
			<option value="Dummy1">Dummy1</option>
			</select>
			</div>
			<div class="col-md-3 col-sm-3"><button class="btn btn-success m-r-10" type="submit">Preview</button></div>
			</div>
			</div>
			
			<div  class="form-group">
			<div class="row">
			<div class="col-md-3 col-sm-3"><label  class="pull-left">Credit note report:</label></div>
			<div class="col-md-6 col-sm-6">
			<select  class="form-control " id="photgraph" name="photgraph">
			<option value="Dummy1"> </option>
			<option value="Dummy1">Dummy1</option>
			</select>
			</div>
			<div class="col-md-3 col-sm-3"><button class="btn btn-success m-r-10" type="submit">Preview</button></div>
			</div>
			</div>
					
			<div  class="form-group">
			<div class="row">
			<div class="col-md-3 col-sm-3"><label  class="pull-left">Receipt/ proforma invoice report:</label></div>
			<div class="col-md-6 col-sm-6">
			<select  class="form-control " id="photgraph" name="photgraph">
			<option value="Dummy1"> </option>
			<option value="Dummy1">Dummy1</option>
			</select>
			</div>
			<div class="col-md-3 col-sm-3"><button class="btn btn-success m-r-10" type="submit">Preview</button></div>
			</div>
			</div>
					
			<div  class="form-group">
			<div class="row">
			<div class="col-md-3 col-sm-3"><label  class="pull-left">Payslip report:</label></div>
			<div class="col-md-6 col-sm-6">
			<select  class="form-control " id="photgraph" name="photgraph">
			<option value="Dummy1"> </option>
			<option value="Dummy1">Dummy1</option>
			</select>
			</div>
			<div class="col-md-3 col-sm-3"><button class="btn btn-success m-r-10" type="submit">Preview</button></div>
			</div>
			</div>
			
					
			<div  class="form-group">
			<div class="row">
			<div class="col-md-3 col-sm-3"><label  class="pull-left">Account statement report:</label></div>
			<div class="col-md-6 col-sm-6">
			<select  class="form-control " id="photgraph" name="photgraph">
			<option value="Dummy1"> </option>
			<option value="Dummy1">Dummy1</option>
			</select>
			</div>
			<div class="col-md-3 col-sm-3"><button class="btn btn-success m-r-10" type="submit">Preview</button></div>
			</div>
			</div>			
					
			<div  class="form-group">
			<div class="row">
			<div class="col-md-3 col-sm-3"><label  class="pull-left">Booking statement report:</label></div>
			<div class="col-md-6 col-sm-6">
			<select  class="form-control " id="photgraph" name="photgraph">
			<option value="Dummy1"> </option>
			<option value="Dummy1">Dummy1</option>
			</select>
			</div>
			<div class="col-md-3 col-sm-3"><button class="btn btn-success m-r-10" type="submit">Preview</button></div>
			</div>
			</div>
								
			<div  class="form-group">
			<div class="row">
			<div class="col-md-3 col-sm-3"><label  class="pull-left">First invoice number:</label></div>
			<div class="col-md-9 col-sm-9"><input  class="form-control taxrate1"  type="text"> Prefix: <input  class="form-control taxrate1"  type="text"> </div>			
			</div>
			</div>
								
			<div  class="form-group">
			<div class="row">
			<div class="col-md-3 col-sm-3"><label  class="pull-left">First credit note number:</label></div>
			<div class="col-md-9 col-sm-9"><input  class="form-control taxrate1"  type="text"> Prefix: <input  class="form-control taxrate1"  type="text"> </div>			
			</div>
			</div>
			
					
			<div  class="form-group">
			<div class="row">
			<div class="col-md-3 col-sm-3"><label  class="pull-left">Use email account:</label></div>
			<div class="col-md-6 col-sm-6">
			<select  class="form-control " id="photgraph" name="photgraph">
			<option value="Dummy1"> </option>
			<option value="Dummy1">Dummy1</option>
			</select>
			</div>
			</div>
			</div>
			
			
			<div  class="form-group">
			<div class="row">
			<div class="col-md-3 col-sm-3"><label  class="pull-left">Show waiting time:</label></div>
			<div class="col-md-6 col-sm-6">
				<label   class="newbox">
						 <input   id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
						 <span   class="checkmark"></span>
				</label>			
			</div>
			</div>
			</div>			

			</div>
		
		
		
			
		<div class="col-md-4 col-sm-4 btnright setupcon">
		<fieldset>	
		<legend>Logo:</legend>	
		<div class="form-group">
		<button class="btn btn-success m-r-10" type="submit"><i class="mdi mdi-plus black" data-name="mdi-flag-variant"></i> Add</button>
		<button class="btn btn-success m-r-10" type="submit"><i class="mdi mdi-delete black" data-name="mdi-flag-variant"></i> Delete</button>
		
		</div>
		<img src="../../../assets/images/logo.jpg" alt="logo"/>
		</fieldset>
		</div>
		
			</div>
			</div>			
			
			
			<div class="form-group">
			<div  class="row">
			<div  class="col-md-12 col-sm-12">
			<button  class="btn btn-success m-r-10" type="submit"> Submit</button>
			</div>
			</div>
			</div>			
			

 
  </div>
  </form>
  </section>
  
  <section id="content11" class="contab bordersection">
  <form class="detailsfrm" action="">
  <div class="box1drive font-12 frmgrp">
	<div class="form-group">
	<button class="btn btn-success m-r-10" type="submit"><i class="mdi mdi-plus black" data-name="mdi-flag-variant"></i> Add</button>
	<button class="btn btn-success m-r-10" type="submit"><i class="mdi mdi-delete black" data-name="mdi-flag-variant"></i> Delete</button>
	<span class="redcolor"><strong>Note: Any fees set up here will automatically be included on any invoice reised</strong></span>
	</div>
		 <table  border="1" class="table table-striped custab tabspab">
		 <thead >
		 <tr  bgcolor="#000">
		 <th width="50"> </th>
		 <th >Cutomer</th>
		 <th >Description</th>
		 <th >Invoice</th>
		 <th >Find Amount</th>
		 </tr></thead>
		 <tbody >
		 
		 <tr>
		<td>
		<label class="newbox">
		<input checked="" id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
		<span class="checkmark"></span>
		</label>  
		</td>	 
		 <td>Chmair Connect (2704)</td>
		 <td>Admin Fee</td>
		 <td>0.00</td>
		 <td>£0.00</td>
		 </tr>
		 
		 <tr>
		<td>
		<label class="newbox">
		<input id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
		<span class="checkmark"></span>
		</label>  
		</td>		 
		 <td>Chmair Connect (2704)</td>
		 <td>Admin Fee</td>
		 <td>0.00</td>
		 <td>£0.00</td>
		 </tr>

		 
		 <tr>
  <td>
<label class="newbox">
    <input  id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
	<span class="checkmark"></span>
</label>  
  </td> 	 
		 <td>Chmair Connect (2704)</td>
		 <td>Admin Fee</td>
		 <td>0.00</td>
		 <td>£0.00</td>
		 </tr>

		 
		 <tr>
  <td>
<label class="newbox">
    <input  id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
	<span class="checkmark"></span>
</label>  
  </td> 	 
		 <td>Chmair Connect (2704)</td>
		 <td>Admin Fee</td>
		 <td>0.00</td>
		 <td>£0.00</td>
		 </tr>

		 
		 <tr>
  <td>
<label class="newbox">
    <input  id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
	<span class="checkmark"></span>
</label>  
  </td>  
  <td>Chmair Connect (2704)</td>
		 <td>Admin Fee</td>
		 <td>0.00</td>
		 <td>£0.00</td>
		 </tr>

		 </tbody>
		 </table>
  </div>
  </form>
  </section>
   
  <section id="content12" class="contab bordersection">
  <form class="detailsfrm" action="">
  <div class="box1drive font-12 frmgrp">
	<div class="form-group">
	<button class="btn btn-success m-r-10" type="submit"><i class="mdi mdi-plus black" data-name="mdi-flag-variant"></i> Add</button>
	<button class="btn btn-success m-r-10" type="submit"><i class="mdi mdi-delete black" data-name="mdi-flag-variant"></i> Delete</button>
	<span class="redcolor"><strong>Note: Any fees set up here will automatically be included on any invoice reised</strong></span>
	</div>
		 <table  border="1" class="table table-striped custab tabspab">
		 <thead >
		 <tr  bgcolor="#000">
		 <th width="50"> </th>
		 <th >Customer</th>
		 <th >Amount From</th>
		 <th >Ammopunt To</th>
		 <th >Invoice %</th>
		 <th >Fixed Amount</th>
		 </tr></thead>
		 <tbody >
		 
		 <tr>
  <td>
<label class="newbox">
    <input checked="" id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
	<span class="checkmark"></span>
</label>  
  </td>  
		 <td> </td>
		 <td> </td>
		 <td> </td>
		 <td> </td>
		 <td> </td>
		 </tr>
		 
		 <tr>
		<td>
		<label class="newbox">
		<input id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
		<span class="checkmark"></span>
		</label>  
		</td>  
		 <td> </td>
		 <td> </td>
		 <td> </td>
		 <td> </td>
		 <td> </td>
		 </tr>

		<tr>
		<td>
		<label class="newbox">
		<input id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
		<span class="checkmark"></span>
		</label>  
		</td>  		 
		 <td> </td>
		 <td> </td>
		 <td> </td>
		 <td> </td>
		 <td> </td>
		 </tr>
		 
		 
		 </tbody>
		 </table>
		 </div>
  </form>
  </section>
    
  <section id="content13" class="contab bordersection">
  <form class="detailsfrm" action="">
  <div class="box1drive font-12 frmgrp">
	<div class="form-group">
	<button class="btn btn-success m-r-10" type="submit"><i class="mdi mdi-plus black" data-name="mdi-flag-variant"></i> Add</button>
	<button class="btn btn-success m-r-10" type="submit"><i class="mdi mdi-delete black" data-name="mdi-flag-variant"></i> Delete</button>
	<span class="redcolor"><strong>Note: Any discounts set up here will automatically be included on any invoice raised</strong></span>
	</div>
		 <table  border="1" class="table table-striped custab tabspab">
		 <thead >
		 <tr  bgcolor="#000">
		 <th width="50"> </th>
		 <th >Customer</th>
		 <th >Amount From</th>
		 <th >Ammopunt To</th>
		 <th >Invoice %</th>
		 <th >Fixed Amount</th>
		 </tr></thead>
		 <tbody >
		 
		 <tr>
  <td>
<label class="newbox">
    <input checked="" id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
	<span class="checkmark"></span>
</label>  
  </td> 
		 <td> </td>
		 <td> </td>
		 <td> </td>
		 <td> </td>
		 <td> </td>
		 </tr>
		 
		 <tr>
  <td>
<label class="newbox">
    <input id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
	<span class="checkmark"></span>
</label>  
  </td> 	 
		 <td> </td>
		 <td> </td>
		 <td> </td>
		 <td> </td>
		 <td> </td>
		 </tr>

		 <tr>
  <td>
<label class="newbox">
    <input id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
	<span class="checkmark"></span>
</label>  
  </td>	 
		 <td> </td>
		 <td> </td>
		 <td> </td>
		 <td> </td>
		 <td> </td>
		 </tr>
		 
		 
		 </tbody>
		 </table>
  </div>
  </form>
  </section>
    
  <section id="content14" class="contab bordersection">
  <form class="detailsfrm" action="">
  <div class="box1drive font-12 frmgrp">
	<div class="form-group">
	<button class="btn btn-success m-r-10" type="submit"><i class="mdi mdi-plus black" data-name="mdi-flag-variant"></i> Add</button>
	<button class="btn btn-success m-r-10" type="submit"><i class="mdi mdi-delete black" data-name="mdi-flag-variant"></i> Delete</button>
	<span class="redcolor"><strong>Note: Any fees set up here will automatically be included on any invoice reised</strong></span>
	</div>
		 <table  border="1" class="table table-striped custab tabspab">
		 <thead >
		 <tr  bgcolor="#000">
		 <th width="50"> </th>
		 <th >Customer</th>
		 <th >Amount From</th>
		 <th >Ammopunt To</th>
		 <th >Invoice %</th>
		 <th >Fixed Amount</th>
		 </tr></thead>
		 <tbody >
		 
		 <tr>
  <td>
<label class="newbox">
    <input checked="" id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
	<span class="checkmark"></span>
</label>  
  </td>	 
		 <td> </td>
		 <td> </td>
		 <td> </td>
		 <td> </td>
		 <td> </td>
		 </tr>
		 
		 <tr>
  <td>
<label class="newbox">
    <input id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
	<span class="checkmark"></span>
</label>  
  </td>  
		 <td> </td>
		 <td> </td>
		 <td> </td>
		 <td> </td>
		 <td> </td>
		 </tr>

		 <tr>
  <td>
<label class="newbox">
    <input id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
	<span class="checkmark"></span>
</label>  
  </td> 
		 <td> </td>
		 <td> </td>
		 <td> </td>
		 <td> </td>
		 <td> </td>
		 </tr>
		 
		 
		 </tbody>
		 </table>
  </div>
  </form>
  </section>
    
  <section id="content15" class="contab bordersection">
  <form class="detailsfrm" action="">
  <div class="box1drive font-12 frmgrp">
  <div class="row">
  <div class="col-md-12 col-sm-12">
  <div  class="form-group">
  <div  class="row">
  <div  class="col-md-12 col-sm-12 setupcon">
  <fieldset>
  <legend>Include terms and conditions on:</legend>
  <div class="row">
  <div class="form-group">
  <div class="flw">
	<label  class="newbox"><input  id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable"><span  class="checkmark"></span><label>Invoices</label></label>  
  </div>
  
  <div class="flw">
	<label  class="newbox"><input  id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable"><span  class="checkmark"></span><label>Receipt</label></label>  
  </div>
  
  <div class="flw">
	<label  class="newbox"><input  id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable"><span  class="checkmark"></span><label>Credit notes</label></label>  
  </div>
  
  <div class="flw">
	<label  class="newbox"><input  id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable"><span  class="checkmark"></span><label>Customer confirmations</label></label>  
  </div>
  
  <div class="flw">
	<label  class="newbox"><input  id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable"><span  class="checkmark"></span><label>Driver/Partner confirmations</label></label>  
  </div>
  
  <div class="flw">
	<label  class="newbox"><input  id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable"><span  class="checkmark"></span><label>Quotations</label></label>  
  </div>
  
  <div class="flw">
	<label  class="newbox"><input  id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable"><span  class="checkmark"></span><label>Web booking form </label></label>  
  </div>
  
  </div>
  

  
  </div>
  </fieldset>
  
   <div class="tab005">   
  <input id="tab18" checked type="radio" name="tabs1">
  <label for="tab18"  class="btnlab">Customer</label>
    
  <input id="tab19" type="radio" name="tabs1">
  <label for="tab19"  class="btnlab">Driver/Partner</label>
  
  <div id="content18" class="contab bordersection hidediv">
  <img src="../../../assets/images/data.jpg" alt=""/>
  </div>
  <div id="content19" class="contab bordersection hidediv">
 <img src="../../../assets/images/data.jpg" alt=""/>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </form>
  </section>
    
  <section id="content16" class="contab bordersection">
  <form class="detailsfrm" action="">
  <div class="box1drive font-12 frmgrp">
  <img src="../../../assets/images/data.jpg" alt=""/>
  </div>
  </form>
  </section>
    
  <section id="content17" class="contab bordersection">
  <form class="detailsfrm" action="">
  <div class="box1drive font-12 frmgrp">
  <img src="../../../assets/images/data.jpg" alt=""/>
  </div>
  </form>
  </section>
  
</div>	









		</div>
				  <div class="modal-footer">
				    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
				  </div>
				</ng-template>

				<button class="btn btn-success m-r-10" (click)="open2(content1)">Invoice</button><br>
	
	
	<ng-template #content2 let-c="close" let-d="dismiss">
				  <div class="modal-header">
				    <h4 class="modal-title">CC Payment parameterd: SSR Executive Travel Ltd</h4>
				    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
				      <span aria-hidden="true">&times;</span>
				    </button>
				  </div>
				  <div class="modal-body">
	<!-- credit card start -->

<div class="col-md-12 tabdiv mt-0">
  <form class="detailsfrm" action="">
  <div class="box1drive font-12 frmgrp">

			<div  class="form-group">
			<div class="row">
			<div class="col-md-2 col-sm-3"><label  class="pull-left">Processor:</label></div>
			<div class="col-md-4 col-sm-4">
			<select  class="form-control taxrate" id="photgraph" name="photgraph">
			<option value="Dummy1">Dummy1</option>
			</select>
			</div>
			</div>
			</div>
			
			<div class="form-group">
			<div class="row">
			<div class="col-md-2 col-sm-3">
			<label class="pull-left">Username:</label>
			</div>
			<div class="col-md-4 col-sm-4 marintput">
			<input class="form-control " type="test">
			</div>
			</div>
			</div>	
			
			<div class="form-group">
			<div class="row">
			<div class="col-md-2 col-sm-3">
			<label class="pull-left">Password:</label>
			</div>
			<div class="col-md-4 col-sm-4 marintput">
			<input class="form-control " type="test">
			</div>
			</div>
			</div>
			
			<div class="form-group">
			<div class="row">
			<div class="col-md-2 col-sm-3">
			<label class="pull-left">Account Number:</label>
			</div>
			<div class="col-md-4 col-sm-4 marintput">
			<input class="form-control " type="test">
			</div>
			</div>
			</div>
			
			<div class="form-group">
			<div class="row">
			<div class="col-md-2 col-sm-3">
			<label class="pull-left">Payment Profile:</label>
			</div>
			<div class="col-md-4 col-sm-4 marintput">
			<input class="form-control " type="test">
			</div>
			</div>
			</div>
			
			<div class="form-group">
			<div class="row">
			<div class="col-md-2 col-sm-3">
			<label class="pull-left">Merchant code:</label>
			</div>
			<div class="col-md-4 col-sm-4 marintput">
			<input class="form-control " type="test">
			</div>
			</div>
			</div>			

<div class="setupcon setchetext">
<fieldset class="font-12">
<legend>Driver App</legend>
<div class="form-group">

<div class="pull-left">
<label class="newbox">
<input id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
<span class="checkmark"></span>
<label class="font-12">Registered </label>
</label>
</div>
<div class="pull-left">
<button class="btn btn-success m-r-10" type="submit"> Register</button>
</div>
 
 
</div>

</fieldset>			
			
			
</div>
</div>
</form>

</div>	


				  </div>
				  <div class="modal-footer">
				    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
				  </div>
				</ng-template>
	
	
	
    	<button class="btn btn-success m-r-10" (click)="open2(content2)">creadit card</button><br> 
		
		
		
		<button class="btn btn-success m-r-10" type="submit">Email Confirmation</button><br>
		<button class="btn btn-success m-r-10" type="submit">SMS Confirmation</button><br>
		</div>

		
		
		</div>
		</div>
		
		</main>