<main class="home-tab">	
		<form action="">
	<div class="row font-12">

	<div class="col-md-6 col-sm-8 colxs-12">
	<h4 class="card-title">Date & Time Format</h4>
	<div class="box1drive">
	<div class="row">
	<div class="col-md-4 col-sm-4">
		<span class="textsetuocon">
		<label>Date Inout Format</label>
		<select  class="custom-select col-12" id="inlineFormCustomSelect">
		<option selected="">Choose...</option>
		<option  value="1">DMY</option>
		<option  value="2">DYM</option>
		<option	value="3">MDY</option>
		<option	value="3">MYD</option>
		<option	value="3">YMD</option>
		<option	value="3">YDM</option>
		</select>
		</span>
	</div>
	
	<div class="col-md-4 col-sm-4">
		<span class="textsetuocon">
		<label>Date Delimiter</label>
		<select  class="custom-select col-12" id="inlineFormCustomSelect">
		<option selected="">Choose...</option>
		<option  value="1">dd/mm/yy</option>
		<option  value="2">dd/mm/yyyy</option>
		<option	value="3">dd-mm-yy</option>
		<option	value="4">dd-mm-yyyy</option>
		<option	value="5">Month-Day-Year</option>
		<option	value="6">Month Day Year</option>
		</select>
		</span>
	</div>

	<div class="col-md-4 col-sm-4">
		<span class="textsetuocon">
		<label>Time Delimiter</label>
		<select  class="custom-select col-12" id="inlineFormCustomSelect">
		<option selected="">Choose...</option>
		<option  value="1">:</option>
		<option  value="2">hr mm ss</option>
		</select>
		</span>
	</div>
	
	<div class="col-md-6 setupcon">
	<fieldset>
  <legend>Date Format:</legend>
	<ul>
		<li>
		<div class="custom-control custom-radio">
    <input class="custom-control-input" id="customRadio1" name="customRadio" type="radio">
    <label class="custom-control-label" for="customRadio1">22-May-18</label></div>
        </li>
		<li>
		<div class="custom-control custom-radio">
    <input class="custom-control-input" id="customRadio2" name="customRadio" type="radio">
    <label class="custom-control-label" for="customRadio2">22-May-2018</label></div>
        </li>
		<li>
		<div class="custom-control custom-radio">
    <input class="custom-control-input" id="customRadio3" name="customRadio" type="radio">
    <label class="custom-control-label" for="customRadio3">22-May-18</label></div>
        </li>
		<li>
		<div class="custom-control custom-radio">
    <input class="custom-control-input" id="customRadio5" name="customRadio" type="radio">
    <label class="custom-control-label" for="customRadio5">22-May-2018</label></div>
        </li>
		<li>
		<div class="custom-control custom-radio">
    <input class="custom-control-input" id="customRadio6" name="customRadio" type="radio">
    <label class="custom-control-label" for="customRadio6">05-22-18</label></div>
        </li>
		<li>
		<div class="custom-control custom-radio">
    <input class="custom-control-input" id="customRadio7" name="customRadio" type="radio">
    <label class="custom-control-label" for="customRadio7">05-22-2018</label></div>
        </li>
		<li>
		<div class="custom-control custom-radio">
    <input class="custom-control-input" id="customRadio8" name="customRadio" type="radio">
    <label class="custom-control-label" for="customRadio8">May-22-18</label></div>
        </li>
		<li>
		<div class="custom-control custom-radio">
    <input class="custom-control-input" id="customRadio9" name="customRadio" type="radio">
    <label class="custom-control-label" for="customRadio9">May-22-2018</label></div>
        </li>	
		<li>
		<div class="custom-control custom-radio">
    <input class="custom-control-input" id="customRadio10" name="customRadio" type="radio">
    <label class="custom-control-label" for="customRadio10">May-22-18</label></div>
        </li>	
		<li>
		<div class="custom-control custom-radio">
    <input class="custom-control-input" id="customRadio11" name="customRadio" type="radio">
    <label class="custom-control-label" for="customRadio11">May-22-2018</label></div>
        </li>		
	</ul>
 </fieldset>
	
	</div>
	
<div class="col-md-6 setupcon">
	<fieldset>
  <legend>Date-Time Format:</legend>
	<ul>
		<li>
		<div class="custom-control custom-radio">
    <input class="custom-control-input" id="customRadio12" name="customRadio" type="radio">
    <label class="custom-control-label" for="customRadio12">22-May-2018 13:29</label></div>
        </li>
		<li>
		<div class="custom-control custom-radio">
    <input class="custom-control-input" id="customRadio14" name="customRadio" type="radio">
    <label class="custom-control-label" for="customRadio14">22-May-18 13:29</label></div>
        </li>
		<li>
		<div class="custom-control custom-radio">
    <input class="custom-control-input" id="customRadio15" name="customRadio" type="radio">
    <label class="custom-control-label" for="customRadio15">22-May-2018 13:29</label></div>
        </li>
		<li>
		<div class="custom-control custom-radio">
    <input class="custom-control-input" id="customRadio16" name="customRadio" type="radio">
    <label class="custom-control-label" for="customRadio16">22-05-18 13:29:10</label></div>
        </li>
		<li>
		<div class="custom-control custom-radio">
    <input class="custom-control-input" id="customRadio17" name="customRadio" type="radio">
    <label class="custom-control-label" for="customRadio17">22-05-2018 13:29:10</label></div>
        </li>
		<li>
		<div class="custom-control custom-radio">
    <input class="custom-control-input" id="customRadio18" name="customRadio" type="radio">
    <label class="custom-control-label" for="customRadio18">22-May-18 13:29:10</label></div>
        </li>
		<li>
		<div class="custom-control custom-radio">
    <input class="custom-control-input" id="customRadio19" name="customRadio" type="radio">
    <label class="custom-control-label" for="customRadio19">22-May-2018 13:29</label></div>
        </li>
		<li>
		<div class="custom-control custom-radio">
    <input class="custom-control-input" id="customRadio20" name="customRadio" type="radio">
    <label class="custom-control-label" for="customRadio20">22-May-18 13:29</label></div>
        </li>
		<li>
		<div class="custom-control custom-radio">
    <input class="custom-control-input" id="customRadio21" name="customRadio" type="radio">
    <label class="custom-control-label" for="customRadio21">22-May-2018 13:29</label></div>
        </li>
		<li>
		<div class="custom-control custom-radio">
    <input class="custom-control-input" id="customRadio22" name="customRadio" type="radio">
    <label class="custom-control-label" for="customRadio22">22-05-18 13:29:10</label></div>
        </li>
		<li>
		<div class="custom-control custom-radio">
    <input class="custom-control-input" id="customRadio23" name="customRadio" type="radio">
    <label class="custom-control-label" for="customRadio23">22-05-2018 13:29:10</label></div>
        </li>
		<li>
		<div class="custom-control custom-radio">
    <input class="custom-control-input" id="customRadio24" name="customRadio" type="radio">
    <label class="custom-control-label" for="customRadio24">22-May-18 13:29:10</label></div>
        </li>
	</ul>
 </fieldset>
	
	</div>

	</div>
	</div>
	</div>
	
	<div class="col-md-4 col-sm-6 colxs-12">
	<h4 class="card-title">Amount Format</h4>
	<div class="box1drive ">
	<div class="full  set-right row">
	<div class="col-md-8"><label>Thousands separator:</label></div>
	<div class="col-md-4">
	<select  class="custom-select sep1" id="inlineFormCustomSelect1">
		<option selected="">Choose...</option>
		<option  value="1">1,000</option>
		<option  value="2">10,000</option>
		<option	value="3">1,00,000</option>
	</select>
	</div>
	</div>
	
	<div class="full set-right row">
	<div class="col-md-8"><label>Decimal separator:</label></div>
	<div class="col-md-4">
	<select  class="custom-select sep1" id="inlineFormCustomSelect1">
		<option selected="">Choose...</option>
		<option  value="1">1</option>
		<option  value="2">10</option>
		<option	value="3">100</option>
		<option	value="4">1,000</option>
		<option	value="5">1,00,000</option>
		<option	value="6">1,00,00,000</option>
	</select>
	</div>	
	</div>	
	
	<div class="full set-right row">
	<div class="col-md-8"><label>Currency symbol:</label></div>
	<div class="col-md-4">
	<select  class="custom-select sep1" id="inlineFormCustomSelect1">
		<option selected="">Choose...</option>
		<option  value="1">$</option>
		<option  value="2">£</option>
		<option	value="3">$</option>
		<option	value="4">€</option>
	</select>
	</div>	
	</div>
	
	<div class="full set-right row">
	<div class="col-md-8"><label>Currency code:</label></div>
	<div class="col-md-4">
	<input  class="form-control sep1"  type="text">
	</div>	
	</div>
	
	<div class="full set-right row">
	<div class="col-md-8"><label>Decimal places:</label></div>
	<div class="col-md-4">
	<input  class="form-control sep1"  type="number">
	</div>	
	</div>
	
	
	<div class="full set-right row">
	<div class="col-md-12">
		<label class="newbox">
		<input type="checkbox" name="fancy-checkbox-primary" value="bookings_sent" id="bookings_sent1" />
		<span class="checkmark"></span>	Use thousands separator					
		</label>	
	</div>	
	<div class="col-md-12">
		<label class="newbox">
		<input type="checkbox" name="fancy-checkbox-primary" value="bookings_sent" id="bookings_sent1" />
		<span class="checkmark"></span>			Show negative amounts in red			
		</label>	
	</div>	
	</div>
	
	<div class="full set-right row">
	<div class="col-md-6">
	<label>Positive amount</label>
	<input  class="form-control"  type="text">
	</div>
	<div class="col-md-6">
	<label>Negative amount</label>
	<input  class="form-control"  type="text">
	</div>	</div>


	</div>
	</div>
	<div class="col-md-12 col-sm-12 col-xs-12">
	<div class="form-group pull-left"><button class="btn btn-success m-r-10" type="submit">Submit</button></div>
	<div class="form-group pull-left"><button class="btn btn-info m-r-10" type="submit">Clear</button></div>
	</div>
	
	
	
	</div>
	</form>
	</main>