	<!-- setup  System Configuration start -->
	<main class="home-tab para">	
<form action="" class="detailsfrm ng-untouched ng-pristine ng-valid" novalidate="">
    <div class="box1drive font-12">
        <div class="">
            <div class="row fulllabel">
                <div class="col-md-2 w200">
                    <div class="form-group">
                        <div class="full set-right row">
                            <div class="pull-left padLR-15 inlin-input">
                                <label>Account no:</label>
                                <input class="form-control " type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 w200">
                    <div class="form-group">
                        <div class="full set-right ">
                            <div class="pull-left padLR-15 inlin-input">
                                <label>Name:</label>
                                <input class="form-control " type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 w200">
                    <div class="form-group">
                        <div class="full set-right ">
                            <div class="pull-left padLR-15 inlin-input">
                                <label>Type:</label>
                                <input class="form-control " type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 w200">
                    <div class="form-group">
                        <div class="full set-right ">
                            <div class="pull-left padLR-15 inlin-input">
                                <label>Start date:</label>
                                <input class="form-control " type="date">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 w200">
                    <div class="form-group">
                        <div class="full set-right ">
                            <div class="pull-left padLR-15 inlin-input">
                                <label>To:</label>
                                <input class="form-control " type="date">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 w200 mt-18">
				<div class="form-group inlin-input">
				<label class="newbox">
				<input id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
				<span class="checkmark"></span> Include finished clients</label>
				</div>
                </div>
            </div>
        </div>      
		
		<div class="row">
            <div class="col-md-12">
                <div class="form-group"><br>
                    <button class="btn btn-success m-r-10" type="submit">Export</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form action="" class="detailsfrm ng-untouched ng-pristine ng-valid" novalidate="">
    <div class="box1drive font-12">
        <div class="">
            <div class="row fulllabel">
                <div class="col-md-2 w200">
                    <div class="form-group">
                        <div class="full set-right row">
                            <div class="pull-left padLR-15 inlin-input">
                                <label>Statement from:</label>
                                <input class="form-control " type="date">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 w200">
                    <div class="form-group">
                        <div class="full set-right ">
                            <div class="pull-left padLR-15 inlin-input">
                                <label>To:</label>
                                <input class="form-control " type="date">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 w200">
                    <div class="form-group">
                        <div class="full set-right ">
                            <div class="pull-left padLR-15 inlin-input">
                                <label>For:</label>
                                <input class="form-control " type="text">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>   
    </div>
</form>


<div class="box1drive font-12">
    <div class="row">

        <div class="col-md-12 col-sm-12 fulltab">
            <table border="1" class="table table-striped custab">
                <thead >
                    <tr bgcolor="#000">
                        <th width="100">Account No</th>
                        <th width="200">Account Name</th>
                        <th >Address</th>
                        <th >Contact</th>
                    </tr>
                </thead>
                <tbody >
                    <tr>
                        <td>202020</td>
						<td>Harish</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</td>
                        <td>(+0120) 000 000 0000</td>
                    </tr>
                    <tr>
                        <td>202020</td>
						<td>Harish</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</td>
                        <td>(+0120) 000 000 0000</td>
                    </tr>   
                </tbody>
            </table>
        </div>
    </div>
</div>



	

	
	</main>