	<main class="home-tab">
	<div class="row">
		<div class="col-md-12">
		<div class="box1drive font-12">
		<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="form-group">
		<div class="pull-left">
		Region: 
        <select class="custom-select sep1" id="inlineFormCustomSelect1">
		<option selected="">Choose...</option>
		<option value="1" ng-reflect-value="1">1</option>
		<option value="2" ng-reflect-value="2">2</option>
		<option value="3" ng-reflect-value="3">3</option>
		</select>
		</div>
		<div class="pull-left">
		<div class="pull-left padLR-15">
		<div class="form-group">
		<label class="newbox">
		<input id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable"><span class="checkmark"></span> Hide Finished </label></div></div>
		</div>
		
		</div>
		</div>
		<div class="col-md-12 col-sm-12 fulltab">
		<table border="1" class="table table-striped custab">
<thead>
		<tr bgcolor="#000">
		<th> </th>
		<th> </th>
		<th> </th>
		<th> </th>
		</thead>
		<tbody>
		<tr>
		<td> </td>
		<td> </td>
		<td> </td>
		<td> </td>
		
		</tr>
		<tr>
		<td> </td>
		<td> </td>
		<td> </td>
		<td> </td>
		
		</tr>

		<tr>
		<td> </td>
		<td> </td>
		<td> </td>
		<td> </td>
		
		</tr>
		</tbody></table>
		
		<button class="btn btn-success m-r-10" type="submit"><i class="mdi mdi-help-circle black"></i> Details</button>
		</div></div></div>
		
		</div>
		</div>
		</main>