	<!-- setup  System Configuration start -->
	<main class="home-tab para">	
<form action="" class="detailsfrm ng-untouched ng-pristine ng-valid" novalidate="">
    <div class="box1drive font-12">
        <div class="">
            <div class="row fulllabel">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <div class="full set-right row">
                            <div class="pull-left padLR-15 inlin-input">
                                <label>Forename:</label>
                                <input class="form-control " type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <div class="full set-right ">
                            <div class="pull-left padLR-15 inlin-input">
                                <label>Surname:</label>
                                <input class="form-control " type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <div class="full set-right ">
                            <div class="pull-left padLR-15 inlin-input">
                                <label>Account no:</label>
                                <input class="form-control " type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <div class="full set-right ">
                            <div class="pull-left padLR-15 inlin-input">
                                <label>Account name:</label>
                                <input class="form-control " type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
				<div class="form-group inlin-input">
				<label class="newbox">
				<input id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
				<span class="checkmark"></span> Include finished clients</label>
				</div>
            </div>
        </div>        
		
		<div class="row">
            <div class="col-md-12">
                <div class="form-group"><br>
                    <button class="btn btn-success m-r-10" type="submit">Export</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="box1drive font-12">
    <div class="row">

        <div class="col-md-12 col-sm-12 fulltab">
            <table border="1" class="table table-striped custab">
                <thead >
                    <tr bgcolor="#000">
                        <th width="200">Client Name</th>
                        <th width="150">Account Name</th>
                        <th>Home Address</th>
                        <th>Office Address</th>
                        <th width="200">Contact Details</th>
                    </tr>
                </thead>
                <tbody >
                    <tr>
                        <td>Harish</td>
                        <td>202020</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
                        <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</td>
                        <td>(+0120) 000 000 0000</td>
                    </tr>
                    <tr>
                        <td>Marwin</td>
                        <td>303030</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
                        <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</td>
                        <td>(+0120) 123 456 6789</td>
                    </tr>
   
                </tbody>
            </table>
        </div>
    </div>
</div>



	

	
	</main>