<main class="home-tab bookclases">
<div class="row">
<div class="col-md-12">
<div class="box1drive">
<div class="row">

<div class="col-md-12 col-sm-12">
<div class="form-group">
<div class="pull-left">Id: <input class="form-control sep1" type="text"> 
</div>
<div class="pull-left">
<button class="btn btn-success m-r-10" type="submit">Load Airport(8)</button>
</div>

</div>
</div>

<div class="col-md-12">
<table border="1" class="table table-striped custab">
<thead>
<tr bgcolor="#000">
<th>ID</th>
<th>Name & Address</th>
<th>Phone Number</th>
</tr>
</thead>

<tbody>
<tr>
<td>Brimingham Airport</td>
<td>Birmingham B26 3QJ. UK</td>
<td> </td>
</tr>

<tr>
<td>Cambridge INternational Airport</td>
<td>Cambridge Airport Newmarket Road, Cambridge, Cambridgeshire, CB5 8RX, UK</td>
<td> </td>
</tr>

<tr>
<td>East Midlands Airport</td>
<td>Castle Donlngton, Derby. DE74 2SA. UK</td>
<td> </td>
</tr>

<tr>
<td>Gatwick Airport</td>
<td>Gatwick Airport, West Sussex, RH6 ONP</td>
<td> </td>
</tr>

<tr>
<td>Heathrow Airport</td>
<td>Heathrow Airport, greater London, TW6</td>
<td> </td>
</tr>

<tr>
<td>London City Airport</td>
<td>London Ciy Airport, Hartmann RD, London, E16 2PX</td>
<td> </td>
</tr>

<tr>
<td>Luton Airport</td>
<td>Luton Airport, Airport Way, Luton. LU2 9NY</td>
<td> </td>
</tr>

<tr>
<td>Southend Airport</td>
<td>Southend Airport, Southend-on-sea. SS2 6YF</td>
<td> </td>
</tr>

<tr>
<td>Stansted Airport</td>
<td>Stansted Airport, Bassingboum Road, Stansted, Essex. CM24 1QW. UK</td>
<td> </td>
</tr>






</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</main>