<main class="home-tab bookclases">
<div class="row">
<div class="col-md-12">
<div class="box1drive">
<div class="row">

<div class="col-md-12 col-sm-12">
<div class="form-group">
<div class="pull-left">Id: <input class="form-control sep1" type="text"> 
</div>

</div>
</div>




<div class="col-md-12">
<table border="1" class="table table-striped custab">
<thead>
<tr bgcolor="#000">
<th>ID</th>
<th>Name & Address</th>
<th>Phone Number</th>
</tr>
</thead>

<tbody>
<tr>
<td>Cambridge Railway Station</td>
<td>Station Road, Cambridgeshire. CB12jW. UK</td>
<td> </td>
</tr>

<tr>
<td>Ely Railway Station</td>
<td>Station Road, Ely, Cambridgeshire. CB22 6SA UK</td>
<td> </td>
</tr>

<tr>
<td>Great chestertord</td>
<td>Great Chestertord Station, Saffron Walden. CB10 1NY</td>
<td> </td>
</tr>

<tr>
<td>Huntingdon Railway Station</td>
<td>Station Road, Huntingdon. Cambridgeshire. PE29 6GP. UK</td>
<td> </td>
</tr>

<tr>
<td>Littleport Railway Station</td>
<td>Station Road,Littleport. Cambridgeshire. CB5 1JL. UK </td>
<td> </td>
</tr>


<tr>
<td>Cambridge Railway Station</td>
<td>Station Road, Cambridgeshire. CB12jW. UK</td>
<td> </td>
</tr>

<tr>
<td>Ely Railway Station</td>
<td>Station Road, Ely, Cambridgeshire. CB22 6SA UK</td>
<td> </td>
</tr>

<tr>
<td>Great chestertord</td>
<td>Great Chestertord Station, Saffron Walden. CB10 1NY</td>
<td> </td>
</tr>


<tr>
<td>Huntingdon Railway Station</td>
<td>Station Road, Huntingdon. Cambridgeshire. PE29 6GP. UK</td>
<td> </td>
</tr>






</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</main>