	
	<main class="home-tab">
	<div class="row">
		<div class="col-md-12">
		
		<table class="newtab" border="1" width="100%" border-color="#ccc">
			<thead>
				<tr>
					<th class="col-xs-1">S.N</th>
					<th class="col-xs-1">Select</th>
					<th class="col-xs-1">Image</th>
					<th class="col-xs-5">Call Sign</th>
					<th class="col-xs-1">Name & Address</th>
					<th class="col-xs-1">Contact details</th>
					<th class="col-xs-1">Vehicle</th>
					<th class="col-xs-1">Delete</th>
				</tr>
			</thead>

			<tbody class="points_table_scrollbar labdelete">
				<tr class="odd">
					<td class="col-xs-1">01</td>
					<td class="col-xs-1">
						<label class="newbox">
						<input type="checkbox" name="fancy-checkbox-primary" value="bookings_sent" id="bookings_sent1" />
						<span class="checkmark"></span>						
						</label>
					</td>
					<td class="col-xs-1"><img src="assets/images/driver_icon.png" width="50" alt="driver icon"/></td>
					<td class="col-xs-5">101</td>
					<td class="col-xs-1">Marwin Simms <br> 107 - 109 Lewisham High Street Lewisham, London</td>
					<td class="col-xs-1">Mobile: 987456321 <br> Email: marwin@dummytext.com</td>
					<td class="col-xs-1">Mercedes-Benz SLC-Class <br>AMG Line Sport <br>Reg K70 SSR <br> Booking Class: Executive Saloon</td>
					<td style="font-size:1rem;" class="col-xs-1"><i class="mdi mdi-delete black" data-name="mdi-flag-variant"></i></td>
				</tr>

				<tr class="even">
					<td class="col-xs-1">02</td>
					<td class="col-xs-1">
						<label class="newbox">
						<input type="checkbox" name="fancy-checkbox-primary" value="bookings_sent" id="bookings_sent2" />
						<span class="checkmark"></span>						
						</label>
					</td>
					<td class="col-xs-1"><img src="assets/images/driver_icon.png" width="50" alt="driver icon"/></td>
					<td class="col-xs-5">101</td>
					<td class="col-xs-1">Marwin Simms <br> 107 - 109 Lewisham High Street Lewisham, London</td>
					<td class="col-xs-1">Mobile: 987456321 <br> Email: marwin@dummytext.com</td>
					<td class="col-xs-1">Mercedes-Benz SLC-Class <br>AMG Line Sport <br>Reg K70 SSR <br> Booking Class: Executive Saloon</td>
					<td style="font-size:1rem;" class="col-xs-1"><i class="mdi mdi-delete black" data-name="mdi-flag-variant"></i></td>
					
				</tr>
				
				<tr class="odd">
					<td class="col-xs-1">03</td>
					<td class="col-xs-1">
						<label class="newbox">
						<input type="checkbox" name="fancy-checkbox-primary" value="bookings_sent" id="bookings_sent3" />
						<span class="checkmark"></span>						
						</label>
					</td>
					<td class="col-xs-1"><img src="assets/images/driver_icon.png" width="50" alt="driver icon"/></td>
					<td class="col-xs-5">101</td>
					<td class="col-xs-1">Marwin Simms <br> 107 - 109 Lewisham High Street Lewisham, London</td>
					<td class="col-xs-1">Mobile: 987456321 <br> Email: marwin@dummytext.com</td>
					<td class="col-xs-1">Mercedes-Benz SLC-Class <br>AMG Line Sport <br>Reg K70 SSR <br> Booking Class: Executive Saloon</td>
					<td style="font-size:1rem;" class="col-xs-1"><i class="mdi mdi-delete black" data-name="mdi-flag-variant"></i></td>
				</tr>

				<tr class="even">
					<td class="col-xs-1">04</td>
					<td class="col-xs-1">
						<label class="newbox">
						<input type="checkbox" name="fancy-checkbox-primary" value="bookings_sent" id="bookings_sent4" />
						<span class="checkmark"></span>						
						</label>
					</td>
					<td class="col-xs-1"><img src="assets/images/driver_icon.png" width="50" alt="driver icon"/></td>
					<td class="col-xs-5">101</td>
					<td class="col-xs-1">Marwin Simms <br> 107 - 109 Lewisham High Street Lewisham, London</td>
					<td class="col-xs-1">Mobile: 987456321 <br> Email: marwin@dummytext.com</td>
					<td class="col-xs-1">Mercedes-Benz SLC-Class <br>AMG Line Sport <br>Reg K70 SSR <br> Booking Class: Executive Saloon</td>
					<td style="font-size:1rem;" class="col-xs-1"><i class="mdi mdi-delete black" data-name="mdi-flag-variant"></i></td>
				</tr>

				<tr class="odd">
					<td class="col-xs-1">05</td>
					<td class="col-xs-1">
						<label class="newbox">
						<input type="checkbox" name="fancy-checkbox-primary" value="bookings_sent" id="bookings_sent5" />
						<span class="checkmark"></span>						
						</label>
					</td>
					<td class="col-xs-1"><img src="assets/images/driver_icon.png" width="50" alt="driver icon"/></td>
					<td class="col-xs-5">101</td>
					<td class="col-xs-1">Marwin Simms <br> 107 - 109 Lewisham High Street Lewisham, London</td>
					<td class="col-xs-1">Mobile: 987456321 <br> Email: marwin@dummytext.com</td>
					<td class="col-xs-1">Mercedes-Benz SLC-Class <br>AMG Line Sport <br>Reg K70 SSR <br> Booking Class: Executive Saloon</td>
					<td style="font-size:1rem;" class="col-xs-1"><i class="mdi mdi-delete black" data-name="mdi-flag-variant"></i></td>
				</tr>

				<tr class="even">
					<td class="col-xs-1">06</td>
					<td class="col-xs-1">
						<label class="newbox">
						<input type="checkbox" name="fancy-checkbox-primary" value="bookings_sent" id="bookings_sent6" />
						<span class="checkmark"></span>						
						</label>
					</td>
					<td class="col-xs-1"><img src="assets/images/driver_icon.png" width="50" alt="driver icon"/></td>
					<td class="col-xs-5">101</td>
					<td class="col-xs-1">Marwin Simms <br> 107 - 109 Lewisham High Street Lewisham, London</td>
					<td class="col-xs-1">Mobile: 987456321 <br> Email: marwin@dummytext.com</td>
					<td class="col-xs-1">Mercedes-Benz SLC-Class <br>AMG Line Sport <br>Reg K70 SSR <br> Booking Class: Executive Saloon</td>
					<td style="font-size:1rem;" class="col-xs-1"><i class="mdi mdi-delete black" data-name="mdi-flag-variant"></i></td>
				</tr>

				<tr class="odd">
					<td class="col-xs-1">07</td>
					<td class="col-xs-1">
						<label class="newbox">
						<input type="checkbox" name="fancy-checkbox-primary" value="bookings_sent" id="bookings_sent7" />
						<span class="checkmark"></span>						
						</label>
					</td>
					<td class="col-xs-1"><img src="assets/images/driver_icon.png" width="50" alt="driver icon"/></td>
					<td class="col-xs-5">101</td>
					<td class="col-xs-1">Marwin Simms <br> 107 - 109 Lewisham High Street Lewisham, London</td>
					<td class="col-xs-1">Mobile: 987456321 <br> Email: marwin@dummytext.com</td>
					<td class="col-xs-1">Mercedes-Benz SLC-Class <br>AMG Line Sport <br>Reg K70 SSR <br> Booking Class: Executive Saloon</td>
					<td style="font-size:1rem;" class="col-xs-1"><i class="mdi mdi-delete black" data-name="mdi-flag-variant"></i></td>
				</tr>

				



			</tbody>
		</table>
	</div>
	</div>
		</main>
	
	
	
	

	
	
	
