	
	<main class="home-tab">
	<div class="row">
		<div class="col-md-12">
		<div class="box1drive font-12">
		<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="form-group">
		<button class="btn btn-success m-r-10" type="submit"><i class="mdi mdi-plus black"></i> Add</button><button class="btn btn-success m-r-10" type="submit"><i class="mdi mdi-delete black"></i> Delete</button>
		<button class="btn btn-success m-r-10" type="submit"><i class="mdi mdi-help-circle black"></i> Help</button>
		</div>
		</div>
		<div class="col-md-12 col-sm-12 fulltab">
	    <ul class="list-news">
		<li>Daily Mail</li>
		<li>Daily Teledraph </li>
		<li>Financial Times</li>
		<li>Guardian</li>
		<li>Now Magazine</li>
		<li>The Independent</li>
		<li>The Sun</li>
		</ul>
	
	</div></div></div>
		
		</div>
		</div>
		</main>