	
	<main class="home-tab">
	<div class="row">
		<div class="col-md-12">
		<div class="box1drive font-12">
		<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="form-group">
		<button class="btn btn-success m-r-10" type="submit"><i class="mdi mdi-plus black"></i> Add</button><button class="btn btn-success m-r-10" type="submit"><i class="mdi mdi-delete black"></i> Delete</button>
		<button class="btn btn-success m-r-10" type="submit"><i class="mdi mdi-help-circle black"></i> Help</button>
		</div>
		</div>
		<div class="col-md-12 col-sm-12 fulltab">
<div class="tabel-responsive">
		<table border="1" class="table table-striped custab">
<thead>
		<tr bgcolor="#000">
		<th> </th>
		<th>Heading 1</th>
		<th>Heading 2</th>
		<th>Heading 3</th>
		<th>Heading 4</th>
		</thead>
		<tbody>
		<tr>
		<td>
		<label class="newbox">
		<input checked="" id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
		<span class="checkmark"></span>
		</label>  
		</td>
		<td>Data 1</td>
		<td>Data 2</td>
		<td>Data 3</td>
		<td>Data 4</td>
		</tr>
		<tr>
		<td>
		<label class="newbox">
		<input id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
		<span class="checkmark"></span>
		</label>  
		</td>
		<td>Data 1</td>
		<td>Data 2</td>
		<td>Data 3</td>
		<td>Data 4</td>
		</tr>
		<tr>
		<td>
		<label class="newbox">
		<input id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
		<span class="checkmark"></span>
		</label>  
		</td>		
		<td>Data 1</td>
		<td>Data 2</td>
		<td>Data 3</td>
		<td>Data 4</td>
		</tr>
		</tbody></table>
		</div>		</div></div></div>
		
		</div>
		</div>
		</main>