	<!-- setup  System Configuration start -->
	<main class="home-tab para">	

	

	
<input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">General</label>
    
  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Booking Details</label>
    
  <input id="tab3" type="radio" name="tabs">
  <label for="tab3">Booking Payment</label>
    
  <input id="tab4" type="radio" name="tabs">
  <label for="tab4">Confirmations</label>
    
  <input id="tab5" type="radio" name="tabs">
  <label for="tab5">Charges/Fees</label>
    
  <input id="tab6" type="radio" name="tabs">
  <label for="tab6">SMS</label>
    
  <input id="tab7" type="radio" name="tabs">
  <label for="tab7">Postcode</label>
    	

	
  <section id="content1" class=" inputrow black">
  <form class="detailsfrm" action="">
 
  <div class="box1drive font-12">
   <div class="row">  
  <div class="pull-left padLR-15">
  <div class="form-group">
  		<label class="newbox">
		<input type="checkbox" name="fancy-checkbox-primary" value="Tax Applicable" id="tax_applicable" />
		<span class="checkmark"></span>	Tax Applicable					
		</label>
  </div>
  </div>
  <div class="pull-left padLR-15">
  <div class="form-group">
  <input  class="form-control taxrate"  type="text"> Tax rate
  </div>
  </div>
  <div class="pull-left padLR-15">
  <div class="form-group">
	<select  class="custom-select sep1" id="inlineFormCustomSelect1">
		<option selected="">Choose...</option>
		<option  value="1">1</option>
		<option  value="2">2</option>
		<option	value="3">3</option>
	</select> Name
  </div>  
  </div> 
  
  </div>
<div class="row ">   
<div class="pull-left padLR-15 ">
  <div class="form-group">Loyalty pointa per 
	<select  class="custom-select sep1 " id="inlineFormCustomSelect1">
		<option selected="">Choose...</option>
		<option  value="1">Booking amount 1</option>
		<option  value="2">Booking amount 2</option>
		<option	value="3">Booking amount 3</option>
	</select>&nbsp;:&nbsp;<input  class="form-control taxrate1"  type="text">
  </div>  
  </div> 
  <div class="pull-left padLR-15">
  <div class="form-group">
  		<label class="newbox">
		<input type="checkbox" name="fancy-checkbox-primary" value="Tax Applicable" id="tax_applicable" />
		<span class="checkmark"></span>	For client PAs/ secretaries					
		</label>
  </div>
  </div>
  
  <div class="pull-left padLR-15">
  <div class="form-group">
  		<label class="newbox">
		<input type="checkbox" name="fancy-checkbox-primary" value="Tax Applicable" id="tax_applicable" />
		<span class="checkmark"></span>	For bookers				
		</label>
  </div>
  </div>
  
  </div>
  
  
  <div class="row"> 
  <div class="col-md-2 col-sm-3 col-xs-12">
  <div class="form-group">
  <label>Report top margin</label>
  <input  class="form-control " type="number">
  <label>Centimetres</label>
  </div>
  </div>
  
  <div class="col-md-5 col-sm-4 col-xs-12">
  <div class="form-group">
  <label>Apoointment attendees</label>
  <input  class="form-control " type="text">
  </div>  
  </div>  
  
  <div class="col-md-5 col-sm-4 col-xs-12">
  <div class="form-group">
  <label>Country</label>
	<select  class="custom-select  fullselect" id="inlineFormCustomSelect1">
		<option selected="">Choose...</option>
		<option  value="1">Country 1</option>
		<option  value="2">Country 2</option>
		<option	value="3">Country 3</option>
	</select>
  </div>  
  </div>  
  
  </div>
  
    <div class="row"> 
  <div class="col-md-2 col-sm-3 col-xs-12">
  <div class="form-group">
  <label>Distance unit</label>
	<select  class="custom-select  fullselect" id="inlineFormCustomSelect1">
		<option selected="">Choose...</option>
		<option  value="1">Country 1</option>
		<option  value="2">Country 2</option>
		<option	value="3">Country 3</option>
	</select>  
  </div>
  </div>
  
  <div class="col-md-4 col-sm-5 col-xs-12">
  <div class="form-group">
  <label>Date font style</label>
	<select  class="custom-select  fullselect" id="inlineFormCustomSelect1">
		<option selected="">Choose...</option>
		<option  value="1">Country 1</option>
		<option  value="2">Country 2</option>
		<option	value="3">Country 3</option>
	</select>  <label>Note: you need  to close Dispatch and re-open to apply this changes</label>
  </div>  
  </div> 

  <div class="col-md-5 col-sm-4 col-xs-12">
  <div class="form-group">
  <label>Password required to view credit card number</label>
  <input  class="form-control " type="text">
  </div>  
  </div> 
  
  </div>
  
  
    <div class="row"> 
  <div class="col-md-12 col-xs-12">
  <div class="form-group">
   		<label class="newbox">
		<input type="checkbox" name="fancy-checkbox-primary" value="Tax Applicable" id="tax_applicable" />
		<span class="checkmark"></span>	Round tariff fare to whole figures					
		</label>
  </div>
  
  <div class="form-group">
   		<label class="newbox">
		<input type="checkbox" name="fancy-checkbox-primary" value="Tax Applicable" id="tax_applicable" />
		<span class="checkmark"></span>	Use driver call signs					
		</label>
  </div>
  
  <div class="form-group">
   		<label class="newbox">
		<input type="checkbox" name="fancy-checkbox-primary" value="Tax Applicable" id="tax_applicable" />
		<span class="checkmark"></span>	Raise invoice as approved					
		</label>
  </div>
  
  <div class="form-group">
   		<label class="newbox">
		<input type="checkbox" name="fancy-checkbox-primary" value="Tax Applicable" id="tax_applicable" />
		<span class="checkmark"></span>	Check for driver conflicts					
		</label>
  </div>
  
  <div class="form-group">
   		<label class="newbox">
		<input type="checkbox" name="fancy-checkbox-primary" value="Tax Applicable" id="tax_applicable" />
		<span class="checkmark"></span>	Check for vehicle conflicts					
		</label>
  </div>
   
  <div class="form-group">
   		<label class="newbox">
		<input type="checkbox" name="fancy-checkbox-primary" value="Tax Applicable" id="tax_applicable" />
		<span class="checkmark"></span>	Prevent assigning drivers/ partners/ vehicles with expired documents					
		</label>
  </div>
  
  <div class="form-group">
   		<label class="newbox">
		<input type="checkbox" name="fancy-checkbox-primary" value="Tax Applicable" id="tax_applicable" />
		<span class="checkmark"></span>	Check reminders on start-up, Due within:
		<select  class="custom-select  sep2" id="inlineFormCustomSelect1">
		<option selected="">Choose...</option>
		<option  value="1">Country 1</option>
		<option  value="2">Country 2</option>
		<option	value="3">Country 3</option>
	</select>		
		</label>
  </div>
  
  <div class="form-group">
   		<label class="newbox">
		<input type="checkbox" name="fancy-checkbox-primary" value="Tax Applicable" id="tax_applicable" />
		<span class="checkmark"></span>	Alert imminer bookings:	
		<input  class="form-control sep2"  placeholder="0" type="number"> minutes before collection	
		</label>
  </div>
   
  <div class="form-group">
   		<label class="newbox">
		<input type="checkbox" name="fancy-checkbox-primary" value="Tax Applicable" id="tax_applicable" />
		<span class="checkmark"></span>	Auto refresh Dipatcher every 	
		<input  class="form-control sep2" placeholder="0" type="number">Second(s)			
		</label>
  </div>
       
  </div>  
  
  </div>  
  <div class="row">
  <div class="col-md-12">
  <div class="form-group">
  <button class="btn btn-success m-r-10" type="submit">Submit</button>
  </div>
  </div>
  </div>
 
  </div>

</form>
  </section>  
	

  <section id="content2" class=" inputrow black">
  <form class="detailsfrm" action="">
 
  <div class="box1drive font-12">
  <div class="row">
  <div class="col-md-6 col-sm-6 col-xs-6">
  <div class="form-group">
   		<label class="newbox">
		<input type="checkbox" name="fancy-checkbox-primary" value="Tax Applicable" id="tax_applicable" />
		<span class="checkmark"></span>	Hide consumables		
		</label>
  </div>  
  
  <div class="form-group">
   		<label class="newbox">
		<input type="checkbox" name="fancy-checkbox-primary" value="Tax Applicable" id="tax_applicable" />
		<span class="checkmark"></span>	Hide events		
		</label>
  </div>    
   
  <div class="form-group">
   		<label class="newbox">
		<input type="checkbox" name="fancy-checkbox-primary" value="Tax Applicable" id="tax_applicable" />
		<span class="checkmark"></span>	Hide notes	
		</label>
  </div>    
    
  <div class="form-group">
   		<label class="newbox">
		<input type="checkbox" name="fancy-checkbox-primary" value="Tax Applicable" id="tax_applicable" />
		<span class="checkmark"></span>	Hides files	
		</label>
  </div>    
    
  <div class="form-group">
   		<label class="newbox">
		<input type="checkbox" name="fancy-checkbox-primary" value="Tax Applicable" id="tax_applicable" />
		<span class="checkmark"></span>	Hide source partner	
		</label>
  </div>    
    
  <div class="form-group">
   		<label class="newbox">
		<input type="checkbox" name="fancy-checkbox-primary" value="Tax Applicable" id="tax_applicable" />
		<span class="checkmark"></span>	Hide assigned partner	
		</label>
  </div>    
     
  <div class="form-group">
   		<label class="newbox">
		<input type="checkbox" name="fancy-checkbox-primary" value="Tax Applicable" id="tax_applicable" />
		<span class="checkmark"></span>	Show filters	
		</label>
  </div>    
      
  <div class="form-group">
   		<label class="newbox">
		<input type="checkbox" name="fancy-checkbox-primary" value="Tax Applicable" id="tax_applicable" />
		<span class="checkmark"></span>	Show driver status	
		</label>
  </div>    
        
  
  </div>
  
  
  <div class="col-md-6 col-sm-6 col-xs-6">
  <div class="form-group">
   		<label class="newbox">
		<input type="checkbox" name="fancy-checkbox-primary" value="Tax Applicable" id="tax_applicable" />
		<span class="checkmark"></span>	Enable bookings to deleted		
		</label>
  </div>  
  
  <div class="form-group">
   		<label class="newbox">
		<input type="checkbox" name="fancy-checkbox-primary" value="Tax Applicable" id="tax_applicable" />
		<span class="checkmark"></span>	Copy booking notes to return bookings	
		</label>
  </div>    
   
  <div class="form-group">
   		<label class="newbox">
		<input type="checkbox" name="fancy-checkbox-primary" value="Tax Applicable" id="tax_applicable" />
		<span class="checkmark"></span>	Copy driver;s instructions to return bookings
		</label>
  </div>    
    
  <div class="form-group">
   		<label class="newbox">
		<input type="checkbox" name="fancy-checkbox-primary" value="Tax Applicable" id="tax_applicable" />
		<span class="checkmark"></span>	Ask before copying itinerary to return bookings	
		</label>
  </div>    
    
  <div class="form-group">
   		<label class="newbox">
		<input type="checkbox" name="fancy-checkbox-primary" value="Tax Applicable" id="tax_applicable" />
		<span class="checkmark"></span>	All cash payment as paid to driver
		</label>
  </div>    
    
  <div class="form-group">
   		<label class="newbox">
		<input type="checkbox" name="fancy-checkbox-primary" value="Tax Applicable" id="tax_applicable" />
		<span class="checkmark"></span>	Prompt change booking payments when receipts are changed	
		</label>
  </div>    
     
  <div class="form-group">
   		<label class="newbox">
		<input type="checkbox" name="fancy-checkbox-primary" value="Tax Applicable" id="tax_applicable" />
		<span class="checkmark"></span>	Default the collection data on new bookings to the current date	
		</label>
  </div>    
   
        
  
  </div>  
  
  
  <div class="col-md-12 col-sm-12 col-xs-12">
  <div class="form-group">
   		<div  class="full set-right row">
		<div  class="pull-left padLR-15 inlin-input">
		Bookings screen row height :<input class="form-control sep1" type="number"> 
		</div>

		</div>
  </div> 
  <div class="form-group">
   		<div  class="full set-right row">
		<div  class="pull-left padLR-15 ">
	Bookings screen payment column :
		<select  class="custom-select  sep1" id="inlineFormCustomSelect1">
		<option selected="">Choose...</option>
		<option  value="1">Country 1</option>
		<option  value="2">Country 2</option>
		<option	value="3">Country 3</option>
	</select>
		</div>

		</div>
  </div> 
  <div class="form-group">
   		<div  class="full set-right row">
		<div  class="pull-left padLR-15 inlin-input">
	First booking reference : 
		<input class="form-control sep1" type="text">
		</div>

		</div>
  </div> 
  
  

</div>  
  
  
  </div>
  <div class="row">
  <div class="col-md-12">
  <div class="form-group">
  <button class="btn btn-success m-r-10" type="submit">Submit</button>
  </div>
  </div>
  </div>

</div>
</form>
</section>  


  <section id="content3" class=" inputrow black">
  <form class="detailsfrm" action="">
 
  <div class="box1drive font-12">
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
	<h4  class="card-title">Default Receipts (from customer)</h4>
	
	</div>
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="form-group">
		<button class="btn btn-success m-r-10" type="submit"><i class="mdi mdi-plus black" ></i> Add</button>
		<button class="btn btn-success m-r-10" type="submit"><i class="mdi mdi-delete black"></i> Delete</button>
		</div>
	</div>
	<div class="col-md-12 col-sm-12 fulltab">
		<table border="1" class="table table-striped custab">
			<thead>
			<tr bgcolor="#000">
			<th width="50"> </th><th>Description</th><th>VAT Rate Type</th><th>Copy To Payments</th><th>Deduct %</th><th>Deduct Amount</th>
			</tr>
			</thead>
			<tbody  >
			<tr>
			<td> 
				<label class="newbox">
				<input type="checkbox"  name="fancy-checkbox-primary" value="Tax Applicable" id="tax_applicable" checked />
				<span class="checkmark"></span>
				</label>			
			</td>
			<td>Fare</td>
			<td>Standard</td>
			<td>
				<label class="newbox">
				<input type="checkbox"  name="fancy-checkbox-primary" value="Tax Applicable" id="tax_applicable" checked />
				<span class="checkmark"></span>
				</label>
			</td>
			<td>0.00</td>
			<td>£0.00</td>
			</tr>
			<tr>
			<td> 
				<label class="newbox">
				<input type="checkbox"  name="fancy-checkbox-primary" value="Tax Applicable" id="tax_applicable"  />
				<span class="checkmark"></span>
				</label>			
			</td>
			<td>Waiting</td>
			<td>Standard</td>
			<td>
				<label class="newbox">
				<input type="checkbox"  name="fancy-checkbox-primary" value="Tax Applicable" id="tax_applicable" checked />
				<span class="checkmark"></span>
				</label>
			</td>
			<td>0.00</td>
			<td>£0.00</td>
			</tr>
			<tr>
			<td> 
				<label class="newbox">
				<input type="checkbox"  name="fancy-checkbox-primary" value="Tax Applicable" id="tax_applicable"  />
				<span class="checkmark"></span>
				</label>			
			</td>
			<td>Car Poark</td>
			<td>Zero</td>
			<td>
				<label class="newbox">
				<input type="checkbox"  name="fancy-checkbox-primary" value="Tax Applicable" id="tax_applicable" checked />
				<span class="checkmark"></span>
				</label>
			</td>
			<td>0.00</td>
			<td>£0.00</td>
			</tr>
			<tr>
			<td> 
				<label class="newbox">
				<input type="checkbox"  name="fancy-checkbox-primary" value="Tax Applicable" id="tax_applicable"  />
				<span class="checkmark"></span>
				</label>			
			</td>
			<td>Extras</td>
			<td>Standard</td>
			<td>
				<label class="newbox">
				<input type="checkbox"  name="fancy-checkbox-primary" value="Tax Applicable" id="tax_applicable" checked />
				<span class="checkmark"></span>
				</label>
			</td>
			<td>0.00</td>
			<td>£0.00</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
</div>



  <div class="box1drive font-12">
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
	<h4  class="card-title">Default Payment (to driver)</h4>
	
	</div>
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="form-group">
		<button class="btn btn-success m-r-10" type="submit"><i class="mdi mdi-plus black" ></i> Add</button>
		<button class="btn btn-success m-r-10" type="submit"><i class="mdi mdi-delete black"></i> Delete</button>
		</div>
	</div>
	<div class="col-md-12 col-sm-12 fulltab">
		<table border="1" class="table table-striped custab">
			<thead>
			<tr bgcolor="#000">
			<th width="50"> </th><th>Description</th><th>VAT Rate Type</th></tr>
			</thead>
			<tbody  >
			<tr>
			<td> 
				<label class="newbox">
				<input type="checkbox"  name="fancy-checkbox-primary" value="Tax Applicable" id="tax_applicable"  />
				<span class="checkmark"></span>
				</label>			
			</td>
			<td>Fare</td>
			<td>Standard</td>
			</tr>
			
			<tr>
			<td> 
				<label class="newbox">
				<input type="checkbox"  name="fancy-checkbox-primary" value="Tax Applicable" id="tax_applicable"  />
				<span class="checkmark"></span>
				</label>			
			</td>			
			<td>Waiting</td>
			<td>Standard</td>
			</tr>
			
			<tr>
			<td> 
				<label class="newbox">
				<input type="checkbox"  name="fancy-checkbox-primary" value="Tax Applicable" id="tax_applicable"  />
				<span class="checkmark"></span>
				</label>			
			</td>			
			<td>Car Poark</td>
			<td>Zero</td>
			</tr>
			
			<tr>
			<td> 
				<label class="newbox">
				<input type="checkbox"  name="fancy-checkbox-primary" value="Tax Applicable" id="tax_applicable"  />
				<span class="checkmark"></span>
				</label>			
			</td>			
			<td>Extras</td>
			<td>Standard</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
</div>
</form>
</section> 

<section id="content4" class=" inputrow black">
	<form class="detailsfrm" action="">
		<div class="box1drive font-12">
			<div class="row">
					<div class="col-md-12">
					<div class="form-group">Customer payments due format
					<select  class="custom-select sep1 " id="inlineFormCustomSelect1">
					<option selected="">Gross</option>
					<option value="1" ng-reflect-value="1">Net</option>
					</select>
					</div>   
				</div>
			</div>
			<div class="row">
			
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div  class="form-group">
					<label  class="newbox">
					<input  id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
					<span  class="checkmark"></span>	Show payment due ib customer confirmations</label></div>				
				</div>
				
			
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div  class="form-group">
					<label  class="newbox">
					<input  id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
					<span  class="checkmark"></span>	Show payment due in driver confirmations</label></div>				
				</div>
				
			
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div  class="form-group">
					<label  class="newbox">
					<input  id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
					<span  class="checkmark"></span>	Show driver payment in driver confirmations</label></div>				
				</div>
				
			
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div  class="form-group">
					<label  class="newbox">
					<input  id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
					<span  class="checkmark"></span>	Show booking class image in customer confirmations</label></div>				
				</div>
				
			
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div  class="form-group">
					<label  class="newbox">
					<input  id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
					<span  class="checkmark"></span>	Show driver photo in customer confirmations</label></div>				
				</div>
				
			
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div  class="form-group">
					<label  class="newbox">
					<input  id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
					<span  class="checkmark"></span>	Enble driver tracking in email confirmations</label></div>				
				</div>
				
			
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div  class="form-group">
					<label  class="newbox">
					<input  id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
					<span  class="checkmark"></span>	Enable driver tracking in SMS confirmations</label></div>				
				</div>
				
			
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div  class="form-group">
					<label  class="newbox">
					<input  id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
					<span  class="checkmark"></span>	Enable passenger feebback in email confirmations</label></div>				
				</div>
				
			
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div  class="form-group">
					<label  class="newbox">
					<input  id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
					<span  class="checkmark"></span>	Enable passenger feebback in SMS confirmations</label></div>				
				</div>
				
			
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div  class="form-group">
					<label  class="newbox">
					<input  id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
					<span  class="checkmark"></span>	Attach calendar appoinments to customer email confirmations</label></div>				
				</div>
				
			
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div  class="form-group">
					<label  class="newbox">
					<input  id="tax_applicable" name="fancy-checkbox-primary" type="checkbox" value="Tax Applicable">
					<span  class="checkmark"></span>	Attach calendar appoinments to driver/Partner email confirmations</label></div>				
				</div>
				
				
				
				
				
				
				
				
				
			</div>
  <div class="row">
  <div class="col-md-12">
  <div class="form-group">
  <button class="btn btn-success m-r-10" type="submit">Submit</button>
  </div>
  </div>
  </div>			
		</div>
	</form>
</section> 

<section id="content5" class=" inputrow black">
	<form class="detailsfrm" action="">
		<div class="box1drive font-12">
			<div class="row">
					<div class="col-md-12">
					<div class="form-group"><label class="pull-left">Retuen waiting time charge:</label>
					<input   class="form-control taxrate" type="text">per
					<select  class="custom-select sep1 " id="inlineFormCustomSelect1">
					<option selected="">Choose...</option>
					<option value="1" ng-reflect-value="1">1</option>
					<option value="1" ng-reflect-value="2">2</option>
					</select>
					</div>   
				</div>
			</div>
			<div class="row fulllabel">
			
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div  class="form-group">
						<div class="form-group">
							<div  class="full set-right row">
								<div  class="pull-left padLR-15 inlin-input">
								<label>Pick up waiting time charge:</label>
								<input   class="form-control sep1" type="text"> per minute
								</div>
							</div>
						</div>
					</div>				
				</div>
				
			
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div  class="form-group">
						<div class="form-group">
							<div  class="full set-right row">
								<div  class="pull-left padLR-15 inlin-input">
								<label>Pick up waiting time grace period:</label>
								<input   class="form-control sep1" type="text"> minute(s)
								</div>
							</div>
						</div>
					</div>				
				</div>
			
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div  class="form-group">
						<div class="form-group">
							<div  class="full set-right row">
								<div  class="pull-left padLR-15 inlin-input">
								<label>Pick up grace period (fight arrivals):</label>
								<input   class="form-control sep1" type="text"> minute(s)
								</div>
							</div>
						</div>
					</div>				
				</div>
				
			</div>
			

			<div class="row fulllabel">
			
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div  class="form-group">
						<div class="form-group">
							<div  class="full set-right row">
								<div  class="pull-left padLR-15 inlin-input">
								<label>Creadit card free percentage:</label>
								<input   class="form-control sep1" type="text"> %
								</div>
							</div>
						</div>
					</div>				
				</div>
				
			
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div  class="form-group">
						<div class="form-group">
							<div  class="full set-right row">
								<div  class="pull-left padLR-15 inlin-input">
								<label>Creadit card fee amount:</label>
								<input   class="form-control sep1" type="text">
								</div>
							</div>
						</div>
					</div>				
				</div>
			
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div  class="form-group">
						<div class="form-group">
							<div  class="full set-right row">
								<div  class="pull-left padLR-15 inlin-input">
								<label>Debit card fee percentage:</label>
								<input   class="form-control sep1" type="text"> %
								</div>
							</div>
						</div>
					</div>				
				</div>
				
			</div>

			<div class="row fulllabel">
			
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div  class="form-group">
						<div class="form-group">
							<div  class="full set-right row">
								<div  class="pull-left padLR-15 inlin-input">
								<label>Debit card fee amount:</label>
								<input   class="form-control sep1" type="text"> %
								</div>
							</div>
						</div>
					</div>				
				</div>
				
			
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div  class="form-group">
						<div class="form-group">
							<div  class="full set-right row">
								<div  class="pull-left padLR-15 inlin-input">
								<label>Excess time charge:</label>
								<input   class="form-control sep1" type="text"> per minute
								</div>
							</div>
						</div>
					</div>				
				</div>
			
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div  class="form-group">
						<div class="form-group">
							<div  class="full set-right row">
								<div  class="pull-left padLR-15 inlin-input">
								<label>Excess mileage charge:</label>
								<input   class="form-control sep1" type="text"> per mile
								</div>
							</div>
						</div>
					</div>				
				</div>
				
			</div>
  <div class="row">
  <div class="col-md-12">
  <div class="form-group">
  <button class="btn btn-success m-r-10" type="submit">Submit</button>
  </div>
  </div>
  </div>
			
			
			
		</div>
	</form>
</section>

<section id="content6" class=" inputrow black">
	<form class="detailsfrm" action="">
		<div class="box1drive font-12">
			<div class="">
			<div class="row fulllabel">
			
				<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="form-group">
							<div  class="full set-right row">
								<div  class="pull-left padLR-15 inlin-input">
								<label>username (Client_Id):</label>
								<input   class="form-control " type="text">
								</div>
							</div>
						</div>
				</div>
				
			
				<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="form-group">
							<div  class="full set-right ">
								<div  class="pull-left padLR-15 inlin-input">
								<label>Password (Client_Pass):</label>
								<input   class="form-control " type="text">
								</div>
							</div>
						</div>
				</div>
			
				<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="form-group">
							<div  class="full set-right ">
								<div  class="pull-left padLR-15 inlin-input">
								<label>Account reference:</label>
								<input   class="form-control " type="text">
								</div>
							</div>
					</div>				
				</div>			
				<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="form-group">
							<div  class="full set-right ">
								<div  class="pull-left padLR-15 inlin-input">
								<label>Originator</label>
								<input   class="form-control " type="text">
								</div>
						</div>
					</div>				
				</div>
				
			</div>
			</div>
  <div class="row">
  <div class="col-md-12">
  <div class="form-group">
  <button class="btn btn-success m-r-10" type="submit">Submit</button>
  </div>
  </div>
  </div>
  </div>
	</form>
</section> 

<section id="content7" class=" inputrow black">
	<form class="detailsfrm" action="">
		<div class="box1drive font-12">
			<div class="">
			<div class="row fulllabel">
			
				<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="form-group">
							<div  class="">
								<div  class="">
								<label >Access token:</label>
								<input   class="form-control sep1" type="text">
								</div>
							</div>
						</div>
				</div>

				
			</div>
			</div>

  <div class="row">
  <div class="col-md-12">
  <div class="form-group">
  <button class="btn btn-success m-r-10" type="submit">Submit</button>
  </div>
  </div>
  </div>			
		</div>
	</form>
</section> 

	
	</main>