<div class="row">
<div class=" col-md-12 custyle newtab">
 <main class="newpad">

   <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Details </label>
    
  <input id="tab2" type="radio" name="tabs" >
  <label for="tab2">Itinerary</label>
    
  <input id="tab3" type="radio" name="tabs">
  <label for="tab3">Payment</label>
    
  <input id="tab5" type="radio" name="tabs">
  <label for="tab5">Credit Note(S)</label>
    
  <input id="tab6" type="radio" name="tabs">
  <label for="tab6">Passenger Feedback</label>
    
  <input id="tab7" type="radio" name="tabs">
  <label for="tab7">Complaint</label>
    
  <input id="tab8" type="radio" name="tabs">
  <label for="tab8">Lost Property</label>


  <section id="content1">
     <form action="" class="detailsfrm">
	
	                        <div class="tour-booking-form">
                           
                                <div class="row  ">

                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 fl">
                                        <div class="form-group">
                                            <label class="control-label" for="datepicker">Collection Date</label>
                                            <div class="input-group">
											<input id="datepicker" placeholder="Date" class="form-control textbox-n" type="text" onfocus="(this.type='date')"  id="date" required> 
                                                </div>
                                        </div>
                                    </div>									
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 fl">
                                        <div class="form-group">
                                            <label class="control-label required" for="select">Collection Time</label>
                                            <div class="select">
                                                <select id="select" name="select" class="form-control">
                                                    <option value="">00:00</option>
                                                    <option value="">00:30</option>
                                                    <option value="">01:00</option>
                                                    <option value="">01:30</option>
                                                    <option value="">02:00</option>
                                                    <option value="">02:30</option>
                                                    <option value="">03:00</option>
                                                    <option value="">03:30</option>
                                                    <option value="">04:00</option>
                                                    <option value="">05:30</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
									
									
									<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 mt-35 fl">
                                        <button id="submit" name="submit" class="btn btn-success">Booking Times</button>
                                    </div>
                                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 fl">
                                        <div class="form-group">
                                            <label class="control-label required" for="select">Number of Passanger:</label>
                                            <div class="select">
                                                <select id="select" name="select" class="form-control">
                                                    <option value="">Number of Persons:</option>
                                                    <option value="">01</option>
                                                    <option value="">02</option>
                                                    <option value="">03</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>									
									
									</div>

									
									
									 <div class="row  ">

                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 fl">
                                        <div class="form-group">
                                            <label class="control-label required" for="select">Main Passanger Name</label>
                                            <div class="select">
                                                <select id="select" name="select" class="form-control">
                                                    <option value="">Stadard</option>
                                                    <option value="">Stadard</option>
                                                    <option value="">Stadard</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
									<div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5 mt-35 fl">
                                        <button id="submit" name="submit" class="btn btn-success">Choose</button>  <button id="submit" name="submit" class="btn btn-info ">Client</button>
                                    </div>
                                    </div>
									

									 <div class="row  ">
                                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 fl">
                                        <div class="form-group">
                                            <label class="control-label" for="phone"> Phone</label>
                                            <input id="phone" type="text" placeholder="(222) 222-2222" class="form-control" required>
                                        </div>
                                    </div>	
                                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 fl">
                                        <div class="form-group">
                                            <label class="control-label" for="phone"> Mobile</label>
                                            <input id="phone" type="text" placeholder="(222) 222-2222" class="form-control" required>
                                        </div>
                                    </div>									
									<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 mt-35 fl">
                                        <button id="submit" name="submit" class="btn btn-success">SMS</button>
                                    </div>
                                    </div>
									
									<div class="row  ">

                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 fl">
                                        <div class="form-group">
                                            <label class="control-label" for="email"> Email</label>
                                            <input id="email" type="text" placeholder="xxxx@xxxx.xxx" class="form-control" required>
                                        </div>
                                    </div>
                                    </div>
									
									<div class="row ">

                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 fl">
                                        <div class="form-group">
                                            <label class="control-label" for="name">Customer Reference</label>
                                            <input id="name" type="text" placeholder="Customer Reference" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 fl">
                                        <div class="form-group">
                                            <label class="control-label" for="country">Cost Center</label>
                                            <input id="country" type="text" placeholder="Cost Center" class="form-control" required>
                                        </div>
                                    </div>
                                    </div>
									
									
									<div class="row">
									<div class="col-md-12 col-sm-12">
									<button id="submit" name="submit" class="btn btn-success">Booking History</button>
									
									
									
									</div>
									</div>
									

                               
                        </div>
	 </form>
	
  </section>
    
  <section id="content2">
   <form action="" class="detailsfrm">
  <div class="w100 fl">
  <h4>How Many Drop ? <span>4</span></h4>
  </div>
  
  <div class="row mt-35">
<div class="col-md-3 col-sm-3 col-xs-3 fl">
<div class="dropboxn">
<h4>Drop 1</h4>
<p>29June 2018  |  00 : 12</p>
</div>
</div>

<div class="col-md-3 col-sm-3 col-xs-3 fl">
<div class="dropboxn">
<h4>Drop 2</h4>
<p>29June 2018  |  01 : 12</p>
</div>
</div>

<div class="col-md-3 col-sm-3 col-xs-3 fl">
<div class="dropboxn">
<h4>Drop 3</h4>
<p>29June 2018  |  02 : 12</p>
</div>
</div>

<div class="col-md-3 col-sm-3 col-xs-3 fl">
<div class="dropboxn">
<h4>Drop 4</h4>
<p>29June 2018  |  03 : 12</p>
</div >
</div>
  
  
  </div> 
</form>

  </section>
    
  <section id="content3">
   <form action="" class="detailsfrm">
     <div class="detailsbox">
	   <input id="tab9" type="radio" name="tabs" checked>
  <label for="tab9">Details</label>
    
  <input id="tab10" type="radio" name="tabs">
  <label for="tab10">Itinerary</label>
    
  <input id="tab11" type="radio" name="tabs">
  <label for="tab11">Payment</label>
  
   <section id="content9">
   <form>
   Details
   </form>
   </section>
   
      <section id="content10">
 <form>
   Itinerary
   </form>
   </section>
   
         <section id="content11">
 <form>
   Payment
   </form>
   </section>
	 
	 </div>
</form>
	 </section>
    


  <section id="content5">
   <form action="" class="detailsfrm">
      <table class="table table-striped custab" border="1">
			<thead>
				<tr>
				<th ><i class="mdi mdi-flag-variant" data-name="mdi-flag-variant"></i></th>
					<th >Date / Time</th>
					<th >Passenger Name</th>
					<th >Ref.</th>
					<th >Booking Class</th>
					<th >Account / Partner	</th>
					<th >Ltinerary</th>
					<th >Driver / Vehicle</th>
					<th >Payment</th>
					<th >Company</th>

				</tr>
			</thead>
 			<tbody class="">
				<tr class="odd">
				<td class=""><i class="mdi mdi-flag-variant" data-name="mdi-flag-variant"></i></td>
					<td class="">Wed, 27 Nov 2016, 10:00</td>
					<td class="">Eric Picks</td>
					<td class="">000147</td>
					<td class="">Car</td>
					<td class="">Deutsche Bank (006)</td>
					<td class="">Pinners hall, London. EC2N 1EN to 366 Great west poad, Hounshow, Tw5 0BD
							Waiting and Return [ Waiting Time : 2hrs(s) ]</td>
					<td class="">Mark Tail / Audi A5</td>
					<td class="">£ 504.00
							Account</td>
					<td class="">Vespa</td>	
				</tr>

				<tr class="odd">
				<td class=""><i class="mdi mdi-flag-variant" data-name="mdi-flag-variant"></i></td>
						<td class="">Wed, 23 Nov 2016, 10:00</td>
						<td class="">Eric Picks</td>
						<td class="">000147</td>
						<td class="">Car</td>
						<td class="">Deutsche Bank (006)</td>
						<td class="">Pinners hall, London. EC2N 1EN to 366 Great west poad, Hounshow, Tw5 0BD
								Waiting and Return [ Waiting Time : 2hrs(s) ]</td>
						<td class="">Mark Tail / Audi A5</td>
						<td class="">£ 504.00
								Account</td>
						<td class="">Vespa</td>	
					</tr>

					<tr class="odd">
					<td class=""><i class="mdi mdi-flag-variant" data-name="mdi-flag-variant"></i></td>
							<td class="">Wed, 23 Nov 2016, 10:00</td>
							<td class="">Eric Picks</td>
							<td class="">000147</td>
							<td class="">Car</td>
							<td class="">Deutsche Bank (006)</td>
							<td class="">Pinners hall, London. EC2N 1EN to 366 Great west poad, Hounshow, Tw5 0BD
									Waiting and Return [ Waiting Time : 2hrs(s) ]</td>
							<td class="">Mark Tail / Audi A5</td>
							<td class="">£ 504.00
									Account</td>
							<td class="">Vespa</td>	
						</tr>


			</tbody>
    </table>
	</form>
  </section>


  <section id="content6">
   <form action="" class="detailsfrm">
      <table class="table table-striped custab" border="1">
			<thead>
				<tr>
				<th ><i class="mdi mdi-flag-variant" data-name="mdi-flag-variant"></i></th>
					<th >Date / Time</th>
					<th >Passenger Name</th>
					<th >Ref.</th>
					<th >Booking Class</th>
					<th >Account / Partner	</th>
					<th >Ltinerary</th>
					<th >Driver / Vehicle</th>
					<th >Payment</th>
					<th >Company</th>

				</tr>
			</thead>
 			<tbody class="">
				<tr class="odd">
				<td class=""><i class="mdi mdi-flag-variant" data-name="mdi-flag-variant"></i></td>
					<td class="">Wed, 28 Nov 2016, 10:00</td>
					<td class="">Eric Picks</td>
					<td class="">000147</td>
					<td class="">Car</td>
					<td class="">Deutsche Bank (006)</td>
					<td class="">Pinners hall, London. EC2N 1EN to 366 Great west poad, Hounshow, Tw5 0BD
							Waiting and Return [ Waiting Time : 2hrs(s) ]</td>
					<td class="">Mark Tail / Audi A5</td>
					<td class="">£ 504.00
							Account</td>
					<td class="">Vespa</td>	
				</tr>

				<tr class="odd">
				<td class=""><i class="mdi mdi-flag-variant" data-name="mdi-flag-variant"></i></td>
						<td class="">Wed, 23 Nov 2016, 10:00</td>
						<td class="">Eric Picks</td>
						<td class="">000147</td>
						<td class="">Car</td>
						<td class="">Deutsche Bank (006)</td>
						<td class="">Pinners hall, London. EC2N 1EN to 366 Great west poad, Hounshow, Tw5 0BD
								Waiting and Return [ Waiting Time : 2hrs(s) ]</td>
						<td class="">Mark Tail / Audi A5</td>
						<td class="">£ 504.00
								Account</td>
						<td class="">Vespa</td>	
					</tr>

					<tr class="odd">
					<td class=""><i class="mdi mdi-flag-variant" data-name="mdi-flag-variant"></i></td>
							<td class="">Wed, 23 Nov 2016, 10:00</td>
							<td class="">Eric Picks</td>
							<td class="">000147</td>
							<td class="">Car</td>
							<td class="">Deutsche Bank (006)</td>
							<td class="">Pinners hall, London. EC2N 1EN to 366 Great west poad, Hounshow, Tw5 0BD
									Waiting and Return [ Waiting Time : 2hrs(s) ]</td>
							<td class="">Mark Tail / Audi A5</td>
							<td class="">£ 504.00
									Account</td>
							<td class="">Vespa</td>	
						</tr>


			</tbody>
    </table>
	</form>
  </section>

  <section id="content7">
   <form action="" class="detailsfrm">
      <table class="table table-striped custab" border="1">
			<thead>
				<tr>
				<th ><i class="mdi mdi-flag-variant" data-name="mdi-flag-variant"></i></th>
					<th >Date / Time</th>
					<th >Passenger Name</th>
					<th >Ref.</th>
					<th >Booking Class</th>
					<th >Account / Partner	</th>
					<th >Ltinerary</th>
					<th >Driver / Vehicle</th>
					<th >Payment</th>
					<th >Company</th>

				</tr>
			</thead>
 			<tbody class="">
				<tr class="odd">
				<td class=""><i class="mdi mdi-flag-variant" data-name="mdi-flag-variant"></i></td>
					<td class="">Wed, 29 Nov 2016, 10:00</td>
					<td class="">Eric Picks</td>
					<td class="">000147</td>
					<td class="">Car</td>
					<td class="">Deutsche Bank (006)</td>
					<td class="">Pinners hall, London. EC2N 1EN to 366 Great west poad, Hounshow, Tw5 0BD
							Waiting and Return [ Waiting Time : 2hrs(s) ]</td>
					<td class="">Mark Tail / Audi A5</td>
					<td class="">£ 504.00
							Account</td>
					<td class="">Vespa</td>	
				</tr>

				<tr class="odd">
				<td class=""><i class="mdi mdi-flag-variant" data-name="mdi-flag-variant"></i></td>
						<td class="">Wed, 23 Nov 2016, 10:00</td>
						<td class="">Eric Picks</td>
						<td class="">000147</td>
						<td class="">Car</td>
						<td class="">Deutsche Bank (006)</td>
						<td class="">Pinners hall, London. EC2N 1EN to 366 Great west poad, Hounshow, Tw5 0BD
								Waiting and Return [ Waiting Time : 2hrs(s) ]</td>
						<td class="">Mark Tail / Audi A5</td>
						<td class="">£ 504.00
								Account</td>
						<td class="">Vespa</td>	
					</tr>

					<tr class="odd">
					<td class=""><i class="mdi mdi-flag-variant" data-name="mdi-flag-variant"></i></td>
							<td class="">Wed, 23 Nov 2016, 10:00</td>
							<td class="">Eric Picks</td>
							<td class="">000147</td>
							<td class="">Car</td>
							<td class="">Deutsche Bank (006)</td>
							<td class="">Pinners hall, London. EC2N 1EN to 366 Great west poad, Hounshow, Tw5 0BD
									Waiting and Return [ Waiting Time : 2hrs(s) ]</td>
							<td class="">Mark Tail / Audi A5</td>
							<td class="">£ 504.00
									Account</td>
							<td class="">Vespa</td>	
						</tr>


			</tbody>
    </table>
	</form>
  </section>
  
  
  
    <section id="content8">
	 <form action="" class="detailsfrm">
      <table class="table table-striped custab" border="1">
			<thead>
				<tr>
				<th ><i class="mdi mdi-flag-variant" data-name="mdi-flag-variant"></i></th>
					<th >Date / Time</th>
					<th >Passenger Name</th>
					<th >Ref.</th>
					<th >Booking Class</th>
					<th >Account / Partner	</th>
					<th >Ltinerary</th>
					<th >Driver / Vehicle</th>
					<th >Payment</th>
					<th >Company</th>

				</tr>
			</thead>
 			<tbody class="">
				<tr class="odd">
				<td class=""><i class="mdi mdi-flag-variant" data-name="mdi-flag-variant"></i></td>
					<td class="">Wed, 30 Nov 2016, 10:00</td>
					<td class="">Eric Picks</td>
					<td class="">000147</td>
					<td class="">Car</td>
					<td class="">Deutsche Bank (006)</td>
					<td class="">Pinners hall, London. EC2N 1EN to 366 Great west poad, Hounshow, Tw5 0BD
							Waiting and Return [ Waiting Time : 2hrs(s) ]</td>
					<td class="">Mark Tail / Audi A5</td>
					<td class="">£ 504.00
							Account</td>
					<td class="">Vespa</td>	
				</tr>

				<tr class="odd">
				<td class=""><i class="mdi mdi-flag-variant" data-name="mdi-flag-variant"></i></td>
						<td class="">Wed, 23 Nov 2016, 10:00</td>
						<td class="">Eric Picks</td>
						<td class="">000147</td>
						<td class="">Car</td>
						<td class="">Deutsche Bank (006)</td>
						<td class="">Pinners hall, London. EC2N 1EN to 366 Great west poad, Hounshow, Tw5 0BD
								Waiting and Return [ Waiting Time : 2hrs(s) ]</td>
						<td class="">Mark Tail / Audi A5</td>
						<td class="">£ 504.00
								Account</td>
						<td class="">Vespa</td>	
					</tr>

					<tr class="odd">
					<td class=""><i class="mdi mdi-flag-variant" data-name="mdi-flag-variant"></i></td>
							<td class="">Wed, 23 Nov 2016, 10:00</td>
							<td class="">Eric Picks</td>
							<td class="">000147</td>
							<td class="">Car</td>
							<td class="">Deutsche Bank (006)</td>
							<td class="">Pinners hall, London. EC2N 1EN to 366 Great west poad, Hounshow, Tw5 0BD
									Waiting and Return [ Waiting Time : 2hrs(s) ]</td>
							<td class="">Mark Tail / Audi A5</td>
							<td class="">£ 504.00
									Account</td>
							<td class="">Vespa</td>	
						</tr>


			</tbody>
    </table>
	</form>
  </section>

    
</main>




 
    </div>
    </div>
