<main class="home-tab bookclases">
	<div class="row">
		<div class="col-md-12">
			<div class="box1drive">
				<div class="row">
					<div class="col-md-12">
						<table class="table table-striped custab" border="1">
							<thead>
								<tr bgcolor="#000">
									<th>Booking Class</th>
									<th>Event Planner<br>color</th>
									<th>Use Color<br>On Booking</th>
									<th>Return Waiting<br>Time Charge</th>
									<th>Per</th>
									<th>Pickup Waiting<br>Time Change<br>(per minute)</th>
									<th>Excess Time<br>Charge<br>(per minute)</th>
									<th>Excess Mileage<br>Change<br>(per mile)</th>
									<th>VAT Rate<br>Type</th>
									<th>Image</th>
									<th>Passangers</th>
									<th>Suitcesses</th>
									<th>Hand<br>Luggage</th>
									<th>Include<br>On Web</th>
									<th>Web<br>Order</th>
									<th>p.O.A<br>On Web</th>
								</tr>
							</thead>
							<tbody>
							
								<tr>
								<td>Executive Estate</td>
								<td> </td>
								<td>
								<label class="newbox">
								<input id="Pending" name="fancy-checkbox-primary" type="checkbox" value="Pending">
								<span class="checkmark"></span>
								</label>
								</td>
								<td>£0.00</td>
								<td> </td>
								<td >£0.00</td>
								<td >£0.00</td>
								<td >£0.00</td>
								<td >Standard</td>
								<td>Image</td>
								<td>0</td>
								<td>0</td>
								<td>0</td>
								<td>
								<label class="newbox">
								<input id="Pending" name="fancy-checkbox-primary" type="checkbox" value="Pending" checked>
								<span class="checkmark"></span>
								</label>
								</td>
								<td> </td>
								<td>
								<label class="newbox">
								<input id="Pending" name="fancy-checkbox-primary" type="checkbox" value="Pending" >
								<span class="checkmark"></span>
								</label>
								</td>
								</tr>
							
								<tr>
								<td> </td>
								<td> </td>
								<td>
								<label class="newbox">
								<input id="Pending" name="fancy-checkbox-primary" type="checkbox" value="Pending">
								<span class="checkmark"></span>
								</label>
								</td>
								<td> </td>
								<td> </td>
								<td > </td>
								<td > </td>
								<td > </td>
								<td >Standard</td>
								<td> </td>
								<td> </td>
								<td> </td>
								<td> </td>
								<td>
								<label class="newbox">
								<input id="Pending" name="fancy-checkbox-primary" type="checkbox" value="Pending" checked>
								<span class="checkmark"></span>
								</label>
								</td>
								<td> </td>
								<td>
								<label class="newbox">
								<input id="Pending" name="fancy-checkbox-primary" type="checkbox" value="Pending" >
								<span class="checkmark"></span>
								</label>
								</td>
								</tr>

							
								<tr>
								<td>Executive MiniBus</td>
								<td> </td>
								<td>
								<label class="newbox">
								<input id="Pending" name="fancy-checkbox-primary" type="checkbox" value="Pending">
								<span class="checkmark"></span>
								</label>
								</td>
								<td>£0.00</td>
								<td> </td>
								<td >£0.00</td>
								<td >£0.00</td>
								<td >£0.00</td>
								<td >Standard</td>
								<td>Image</td>
								<td>0</td>
								<td>0</td>
								<td>0</td>
								<td>
								<label class="newbox">
								<input id="Pending" name="fancy-checkbox-primary" type="checkbox" value="Pending" checked>
								<span class="checkmark"></span>
								</label>
								</td>
								<td> </td>
								<td>
								<label class="newbox">
								<input id="Pending" name="fancy-checkbox-primary" type="checkbox" value="Pending" >
								<span class="checkmark"></span>
								</label>
								</td>
								</tr>
							
								<tr>
								<td>Executive MPV</td>
								<td> </td>
								<td>
								<label class="newbox">
								<input id="Pending" name="fancy-checkbox-primary" type="checkbox" value="Pending">
								<span class="checkmark"></span>
								</label>
								</td>
								<td>£0.00</td>
								<td> </td>
								<td >£0.00</td>
								<td >£0.00</td>
								<td >£0.00</td>
								<td >Standard</td>
								<td>Image</td>
								<td>0</td>
								<td>0</td>
								<td>0</td>
								<td>
								<label class="newbox">
								<input id="Pending" name="fancy-checkbox-primary" type="checkbox" value="Pending" checked>
								<span class="checkmark"></span>
								</label>
								</td>
								<td> </td>
								<td>
								<label class="newbox">
								<input id="Pending" name="fancy-checkbox-primary" type="checkbox" value="Pending" >
								<span class="checkmark"></span>
								</label>
								</td>
								</tr>

							
								<tr>
								<td>Executive Satoon</td>
								<td> </td>
								<td>
								<label class="newbox">
								<input id="Pending" name="fancy-checkbox-primary" type="checkbox" value="Pending">
								<span class="checkmark"></span>
								</label>
								</td>
								<td>£0.00</td>
								<td> </td>
								<td >£0.00</td>
								<td >£0.00</td>
								<td >£0.00</td>
								<td >Standard</td>
								<td>Image</td>
								<td>0</td>
								<td>0</td>
								<td>0</td>
								<td>
								<label class="newbox">
								<input id="Pending" name="fancy-checkbox-primary" type="checkbox" value="Pending" checked>
								<span class="checkmark"></span>
								</label>
								</td>
								<td> </td>
								<td>
								<label class="newbox">
								<input id="Pending" name="fancy-checkbox-primary" type="checkbox" value="Pending" >
								<span class="checkmark"></span>
								</label>
								</td>
								</tr>

							
								<tr>
								<td>Premium</td>
								<td> </td>
								<td>
								<label class="newbox">
								<input id="Pending" name="fancy-checkbox-primary" type="checkbox" value="Pending">
								<span class="checkmark"></span>
								</label>
								</td>
								<td>£0.00</td>
								<td> </td>
								<td >£0.00</td>
								<td >£0.00</td>
								<td >£0.00</td>
								<td >Standard</td>
								<td>Image</td>
								<td>0</td>
								<td>0</td>
								<td>0</td>
								<td>
								<label class="newbox">
								<input id="Pending" name="fancy-checkbox-primary" type="checkbox" value="Pending" checked>
								<span class="checkmark"></span>
								</label>
								</td>
								<td> </td>
								<td>
								<label class="newbox">
								<input id="Pending" name="fancy-checkbox-primary" type="checkbox" value="Pending" >
								<span class="checkmark"></span>
								</label>
								</td>
								</tr>


							</tbody>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
</main>